[2019-02-28 14:46] andyzhangx opened #2 "install blobfuse binary in Docker container"
**What happened**:
https://github.com/Azure/azure-storage-fuse/issues/250
currently use the workaround way: copy blobfuse binary from a Ubuntu VM

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install

[2019-03-26 05:52] andyzhangx opened #5 "switch azure cloud provider to 1.14"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

/assign

[2019-03-26 05:54] andyzhangx opened #6 "reduce vendor size"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/64

**Describe alternatives you've considered**

**Additional context**

[2019-03-26 05:54] andyzhangx opened #7 "add "dep ensure" check in CI test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

could refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/65

[2019-03-26 05:55] andyzhangx opened #8 "Add boilerplate checking"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes/cloud-provider-azure/pull/106

**Describe alternatives you've considered**

**Additional context**

[2019-03-26 05:57] andyzhangx opened #9 "[test] set e2e test CI"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-03-26 05:57] andyzhangx opened #10 "[test] set up sanity test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/test/sanity

**Describe alternatives you've considered**

**Additional context**

[2019-03-26 05:58] andyzhangx opened #11 "switch azure cloud provider to 1.14"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

/assign

[2019-03-26 05:58] andyzhangx opened #12 "[feature] Support snapshot & restore"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://kubernetes-csi.github.io/docs/snapshot-restore-feature.html#snapshot--restore-feature

**Describe alternatives you've considered**

**Additional context**

[2019-04-07 15:23] tall49er commented on #6
Can I work on it?

[2019-04-08 02:51] andyzhangx commented on #6
sure.
/assign @tall49er

[2019-04-08 12:25] tall49er commented on #7
Working on it

[2019-04-08 12:59] lizebang commented on #11
@andyzhangx I find that some functions can only be used after finishing  this. Can I work on this?

[2019-04-08 13:03] lizebang commented on #5
Duplicate of #11

[2019-04-09 03:09] andyzhangx commented on #11
/assign @lizebang
actually this driver does not work now, I need to work out a first working version.

[2019-04-09 08:19] tall49er commented on #7
CI always failed when I add dep check alone. So in #16 I add dep check after reducing vendor size.

[2019-04-09 08:37] #6 closed

[2019-04-09 08:49] tall49er commented on #7
This issue cloud also be closed.#16 has fixed it.

[2019-04-09 08:52] andyzhangx commented on #7
thanks. how do you @tall49er find this project?

[2019-04-09 08:52] #7 closed

[2019-04-09 08:54] tall49er commented on #7
I am applying for GSoC. I find this project on Kubernetes project idea list. You could review my proposal for this project and give my some advices. Thanks.
https://docs.google.com/document/d/1xUXDJufTKWGWxMA2bVBDWjX-7vv2E21GXAP1QM_adUk/edit?usp=sharing

[2019-04-10 03:11] tall49er commented on #7
What about other two projects about AzureFile and AzureDisk? I only apply for Blobfuse. Could you please get me involved in any one of these projects. I will much appreciate that.

[2019-04-10 03:12] andyzhangx commented on #7
@tall49er those two projects have assignees already.

[2019-04-10 03:22] tall49er commented on #7
Could you please apply for additional headcount for this project?

[2019-04-10 03:24] andyzhangx commented on #7
@tall49er I am not familiar with GSOC, is there any exception for this rule?

[2019-04-10 03:29] tall49er commented on #7
Yes, since this project need to have more development resources. You could probably get in contact with Kubernetes community and asking for more headcount.

[2019-04-10 06:44] #11 closed

[2019-04-10 06:46] tall49er commented on #8
Can I work on it?

[2019-04-10 06:51] andyzhangx commented on #8
/assign @tall49er

[2019-04-11 08:07] andyzhangx commented on #8
@tall49er Have you singed the CLA? If not, please follow instructions at https://github.com/kubernetes/kubernetes/wiki/CLA-FAQ to sign the CLA.

[2019-04-11 10:26] tall49er commented on #8
I forgot to sign it, and now I've signed it.

[2019-04-11 11:09] #8 closed

[2019-04-11 14:25] andyzhangx opened #20 "Switch glide to go modules for dependency management"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes/cloud-provider-azure/pull/142

**Describe alternatives you've considered**

**Additional context**

[2019-04-11 14:28] andyzhangx commented on #2
It's not necessary now, we use the installed blobfuse binary on every agent VM:
https://github.com/csi-driver/blobfuse-csi-driver/blob/9acf1bab086fe3291bdfa5550817605f71b20144/deploy/blobfuse-csi-driver.yaml#L118-L120

[2019-04-11 14:28] #2 closed

[2019-04-11 15:45] tall49er commented on #10
Working on it.

[2019-04-12 07:10] andyzhangx commented on #10
/assign @tall49er

[2019-04-12 07:11] andyzhangx commented on #10
BTW, what's your slack id, and you could join slack@kubernetes, and then we could talk in that workspace.
@tall49er

[2019-04-12 07:21] andyzhangx opened #22 "check whether static provisioning works"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-04-12 07:27] andyzhangx opened #23 "check whether this driver could run on a RBAC enabled k8s cluster"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2019-04-12 07:29] andyzhangx opened #24 "update helm chart template for this driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

make sure https://github.com/csi-driver/blobfuse-csi-driver/tree/master/charts works.

**Describe alternatives you've considered**

**Additional context**

/assign @lizebang

[2019-04-12 07:32] andyzhangx opened #25 "add mountOptions support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Code is here: https://github.com/csi-driver/blobfuse-csi-driver/blob/a005ac785bb280d1fa9dee434e78d968a11b7ad0/pkg/blobfuse/nodeserver.go#L117-L118, could refer to https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse#about

**Describe alternatives you'v

[2019-04-12 07:35] andyzhangx opened #26 "Add version flag in blobfuse driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/70
This feature is a must for v0.1.0-alpha release

**Describe alternatives you've considered**

**Additional context**

[2019-04-12 07:37] andyzhangx commented on #8
@tall49er can you also fix this issue in azuredisk & azurefile csi driver?
https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/59
https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/45
Let  me add you as collabrator first.

[2019-04-12 07:51] lizebang commented on #20
@andyzhangx I would like to work on this.

[2019-04-12 07:58] andyzhangx commented on #20
/assign @lizebang
there is already a PR for azure file: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/54, you could work on that when merged.

[2019-04-12 09:57] tall49er commented on #8
sure!

[2019-04-14 07:09] tall49er commented on #10
My slack id is Rui Tang.

[2019-04-14 08:53] tall49er commented on #10
Where can I find azure.json?

[2019-04-14 10:57] lizebang commented on #10
@tall49er
Hi, thank for your participation. You can get azure.json by following the steps below:
1. Create an azure account and apply for a trial.
2. Create a kubernetes cluster and azure.json path is `/etc/kubernetes/azure.json`.

[2019-04-14 14:09] andyzhangx opened #28 "fix sanity test failures"
**What happened**:
follow:  https://github.com/csi-driver/blobfuse-csi-driver/tree/master/test/sanity

You will get following sanity test failures:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):

[2019-04-14 14:12] andyzhangx commented on #10
actually sanity test is already set up, need to fix the 6 failures: https://github.com/csi-driver/blobfuse-csi-driver/issues/28

[2019-04-14 14:12] #10 closed

[2019-04-14 14:21] lizebang commented on #28
@andyzhangx I would like to work on this.

[2019-04-17 12:55] andyzhangx commented on #28
/assign @lizebang

[2019-04-18 14:25] tall49er commented on #9
I would like to work on it.

[2019-04-21 02:32] andyzhangx opened #30 "enable readOnly flag"
**What happened**:
Currenlty volume attribute `readOnly` is ignored, need to respect this flag in the driver

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-04-21 02:58] andyzhangx opened #31 "secret value should not be exposed in logs"
**What happened**:
Currently secret value would be exposed in logs, while it should not

[code]

We could disable this logging easily, while I would like to filter out only the `secret` value, for the other request info, it's useful for debugging:
https://github.com/csi-driver/blobfuse-csi-driver/blob/e7b3a4c2dc4f54a3d033ec55dc282613f856225f/pkg/csi-common/utils.go#L107

**What you expected to hap

[2019-04-21 03:07] andyzhangx commented on #22
actually it works well

[2019-04-21 03:07] #22 closed

[2019-04-21 12:07] #25 closed

[2019-04-21 12:07] #30 closed

[2019-04-21 12:16] andyzhangx commented on #26
hi @ashishranjan738 could you work on this? Thanks.

[2019-04-21 12:24] ashishranjan738 commented on #26
Sure

[2019-04-23 07:37] andyzhangx opened #34 "Create one blobfuse PVC will sometimes lead to two containers created finally"
**What happened**:
With below blobfuse CSI storage class:
[code]

Per below logs, the first `CreateVolume` request costs about 18s(including creating a new storage account), that would lead to another CreateVolume request.
[code]

**fix solution**
 - option#1
1. search container name if `containerName` is empty
2. use a lock in `CreateVolume` func and release lock when quit `CreateVolume` func

 -

[2019-04-24 01:40] andyzhangx commented on #26
hi @ashishranjan738 do you have time to work on this? I would like to cut a release when this issue resolved, thanks.

[2019-04-24 02:21] ashishranjan738 commented on #26
Yeah i can raise today

[2019-04-24 03:53] #26 closed

[2019-06-11 08:03] andyzhangx opened #37 "SAS token support in static provisioning scenario"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently [blobfuse](https://github.com/Azure/azure-storage-fuse#mount-options
) supports SAS token, we could add SAS token support in static provisioning scenario

**Describe alternatives you've considered**

**Additional context**

[2019-06-11 08:11] andyzhangx opened #38 "add Pod Identity support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add support for [Pod Identity](https://github.com/Azure/aad-pod-identity) to enable finer grain scope of identity as an alternative to using the cluster’s identity.  We do see cases where Azure resources are closely associated with the cluster.  But we also see customers partitioni

[2019-06-11 14:41] andyzhangx commented on #38
marked as long-term since in current stage, we don't want to depend on AAD pod identity component which also depends on cluster identity

[2019-06-13 10:38] andyzhangx opened #39 "add sovereign cloud support"
**What happened**:
currently it's not supported, blocking issue:
https://github.com/Azure/azure-storage-fuse/issues/199#issuecomment-501648816

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install to

[2019-06-27 15:18] andyzhangx commented on #39
related blobfuse PR: https://github.com/Azure/azure-storage-fuse/pull/281

[2019-07-02 06:03] andyzhangx commented on #28
[code]

[2019-07-02 13:13] andyzhangx commented on #28
[code]

[2019-07-04 06:58] andyzhangx commented on #34
/assign @ZeroMagic
Use volumename as container name would prevent this issue

[2019-07-04 07:01] andyzhangx commented on #31
need to port PR: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/64

[2019-07-04 07:02] ZeroMagic commented on #34
ok. I will try to reproduce and fix it.

[2019-07-05 07:15] andyzhangx commented on #28
One failure left now, may need workaround this issue since capacity is not supported in  blobfuse driver @ZeroMagic :
[code]

[2019-07-09 06:54] andyzhangx opened #47 "add retry for DeleteVolume"
**What happened**:
DeleteVolume operation may fail sometimes, need to add retry for this operation:
https://github.com/csi-driver/blobfuse-csi-driver/blob/6cf17ce8561c7d4f4a634ac6336db3e18cd766bb/pkg/blobfuse/controllerserver.go#L160

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:
implementation could refer to https://github.com/kubernetes/k

[2019-07-11 06:50] andyzhangx commented on #47
/assign @ZeroMagic

[2019-07-11 06:50] andyzhangx commented on #34
already fixed by #44

[2019-07-11 06:50] #34 closed

[2019-07-11 06:52] andyzhangx commented on #12
not sure whether it is a feature for blobfuse driver, need to figure out whether it's possible to take snapshot and restore for a blob container.

[2019-07-12 05:58] andyzhangx commented on #47
dependency PR #49  has been merged

[2019-07-17 05:36] #28 closed

[2019-07-17 08:21] #47 closed

[2019-08-12 21:50] Jim243 opened #62 "Possible CA problem in blobfuse"
Sorry to post this here, but from my work computer I can not reach any .io domain.

Server OS:  Red Hat Enterprise Linux Server release 7.6 (Maipo)
blobfuse version:  blobfuse.x86_64 1.0.2-1

In our configuration we are not connecting directly from our server to the Azure storage.  We are going through a proxy/load balancer that intercepts the traffic and then forwards it to Azure.  When we try to

[2019-08-13 14:01] andyzhangx commented on #62
I posted your issue under https://github.com/Azure/azure-storage-fuse/issues/303, that's the correct repo

[2019-08-15 07:18] ZeroMagic opened #64 "collect Prometheus metrics from this driver"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

This driver use the same azure cloud provider lib with azuredisk. So we can open a port and then collect Prometheus metrics.
[code]
**Describe alternatives you've considered**

**Additional context**

[2019-08-15 07:18] ZeroMagic commented on #64
/assign

[2019-08-15 07:21] ZeroMagic opened #65 "Set priority class to system critical"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

add priorityClassName: system-cluster-critical and priorityClassName: system-node-critical to controller and node YAMLs respectively

Make the driver high priority and less likely to be evicted

**Describe alternatives you've considered**

**Additional context**

[2019-09-04 02:33] #65 closed

[2019-09-04 10:06] #24 closed

[2019-09-08 03:25] lenisha opened #69 "read SAS token from Azure KeyVault (static provisioning support)"
**Describe the solution you'd like in detail**
Add ability to read SAS tokens that are mounted by Azure KeyVault flexvolume to some path instead of K8S secrets

[2019-09-09 06:36] andyzhangx commented on #69
thanks,
/assign @ZeroMagic

[2019-09-09 06:44] andyzhangx commented on #69
hi @lenisha
After my second thought, read from `mounted file which contains sas token` is not secure as k8s secret, I don't think that's a good idea.
We will support sas token read from k8s secret in our plan.

[2019-09-09 06:47] andyzhangx commented on #69
another way is read one key vault value from inside blobfuse driver directly, need to evaluate first and also needs to know, how many customers wants this feature.

[2019-09-09 08:42] andyzhangx commented on #69
could refer to https://github.com/deislabs/secrets-store-csi-driver/blob/master/pkg/providers/azure/provider.go for reading Azure key vault value from inside blobfuse driver
cc @ZeroMagic

[2019-09-09 10:52] #37 closed

[2019-09-11 07:40] andyzhangx commented on #69
@lenisha we would like to support reading storage account key or sas token from keyvault, the new filed names are like following:
[code]

[2019-09-13 13:20] #69 closed

[2019-09-17 06:33] andyzhangx opened #74 "build blobfuse binary in Dockerfile"
**What happened**:
error is like following, need to change deployment script:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-09-17 06:59] andyzhangx commented on #74
Our blobfuse csi driver is based on Ubuntu 16.04 image, we cannot use built-in blobfuse binary since that driver is using dynamic link lib.

[2019-09-17 23:16] andyzhangx commented on #69
cc @ritazh

[2019-10-07 14:13] andyzhangx opened #75 "a few issues in keyvault scenario"
**What happened**:
1. I got following error when try to follow up with guide: https://github.com/csi-driver/blobfuse-csi-driver/blob/master/deploy/example/keyvault/README.md

[code]

2. following secret config is not necessary in the config
https://github.com/csi-driver/blobfuse-csi-driver/blob/f554f91d2ed1c09de682e106565a99961067f11e/deploy/example/keyvault/pv-blobfuse-csi-keyvault.yaml#L21-L23

[2019-10-08 07:18] ZeroMagic commented on #75
@andyzhangx
You used the wrong `keyVaultURL`. What you used was `Resource ID`. The correct value is `DNS Name` like `https://xxx.vault.azure.net/`.

[2019-10-08 07:25] andyzhangx commented on #75
o, let me check and then update the doc, thanks.

[2019-10-09 09:29] andyzhangx commented on #75
verified `keyVaultURL` should be `DNS Name` like `https://xxx.vault.azure.net/`.

[2019-10-09 09:32] andyzhangx commented on #75
btw, pls confirm following config is not necessary:
https://github.com/csi-driver/blobfuse-csi-driver/blob/f554f91d2ed1c09de682e106565a99961067f11e/deploy/example/keyvault/pv-blobfuse-csi-keyvault.yaml#L21-L23

@ZeroMagic

[2019-10-09 12:46] ZeroMagic commented on #75
It is unnecessary when using KeyVault.

[2019-10-19 02:30] #64 closed

[2019-11-23 07:52] andyzhangx opened #77 "migrate current repo to kubernetes-sigs org"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

/assign

[2019-11-27 08:16] andyzhangx opened #78 "volume resize support"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Azure storage container actually supports arbitrary size, need to support resize for this driver.

**Describe alternatives you've considered**

**Additional context**

[2019-11-27 12:17] andyzhangx commented on #74
instead, write a script, build the latest blobfuse version would be a better solution:
https://github.com/Azure/azure-storage-fuse/wiki/1.-Installation#option-2---build-from-source

Current driver depends on external blobfuse binary which depends on dynamic lib on Host

[2019-11-27 12:19] andyzhangx commented on #39
depends on #74

[2019-11-27 12:55] andyzhangx opened #79 "Patch sidecars for CVE-2019-11255"
**What happened**:
check https://github.com/kubernetes/kubernetes/issues/85233 for details

Longer term, upgrade your CSI driver with patched versions of the affected sidecars. Fixes are available in the following sidecar versions:

external-provisioner:
v0.4.3
v1.0.2
v1.2.2
v1.3.1
v1.4.0

external-snapshotter:
v0.4.2
v1.0.2
v1.2.2

external-resizer
v0.3.0

**What you expected to happen**:

**How

[2019-12-02 15:19] andyzhangx commented on #77
tracking issue: https://github.com/kubernetes/org/issues/1449

[2019-12-06 07:01] andyzhangx commented on #9
/assign @chewong

[2019-12-06 07:02] andyzhangx commented on #9
since blobfuse driver is already moved to the https://github.com/kubernetes-sigs org, could you also enable CI test in test-infra, thanks.
@chewong
cc @ritazh

[2019-12-06 19:57] chewong commented on #9
To avoid making massive PRs like https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/118 and https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/166, I am going to separate the following tasks into individual PRs:
  - [x] Add blobfuse CI jobs in k/test-infra (https://github.com/kubernetes/test-infra/pull/15515)
  - [ ] Create aks-engine API model for e2e test instead of relying o

[2019-12-11 10:41] andyzhangx opened #80 "add static provision e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

refer to https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/deploy/example/e2e_usage.md#static-provisioninguse-an-existing-storage-account

**Describe alternatives you've considered**

**Additional context**

[2019-12-12 08:40] andyzhangx commented on #23
it should work

[2019-12-12 08:40] #23 closed

[2019-12-17 17:28] cjwagner opened #83 "OWNERS and OWNERS_ALIASES files are invalid and causing errors."
1) The OWNERS_ALIASES file isn't a valid format and doesn't parse at all.
[code]
Here is an example of a valid OWNERS_ALIASES file: https://github.com/kubernetes/test-infra/blob/master/OWNERS_ALIASES

2) The OWNERS file only includes @andyzhangx which makes it impossible to approve a PR authored by @andyzhangx.  e.g. This PR (https://github.com/kubernetes-sigs/blobfuse-csi-driver/pull/82) had to b

[2019-12-18 12:35] #83 closed

[2019-12-18 12:35] andyzhangx commented on #83
thanks, I fixed that

[2019-12-18 19:45] chewong commented on #9
@andyzhangx for e2e test, do you have a preference on which k8s version to test on, and whether we should use VM with AS or VMSS, or both?

[2019-12-20 13:48] prksu opened #88 "Error when running e2e test"
**What happened**:

[code]

I'm using go1.13. Probably related to https://github.com/golang/go/issues/31859

**How to reproduce it**:

Run `make e2e-test` using go1.13

[2020-01-09 06:11] andyzhangx opened #91 "support one PV mounted by multiple pods on one node"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Current design is that every pod using blobfuse volume would do one blobfuse mount on the node, that may cause wasted resource usage if there are lots of pods using same blobfuse volume on the node, we could improve this in next release. Looks like there is not much code change cost.

[2020-01-10 01:46] #9 closed

[2020-01-10 05:14] #74 closed

[2020-01-10 05:52] andyzhangx commented on #88
already fixed

[2020-01-10 05:52] #88 closed

[2020-01-12 02:40] #91 closed

[2020-01-12 05:31] andyzhangx commented on #79
not an issue, already used `mcr.microsoft.com/oss/kubernetes-csi/csi-provisioner:v1.4.0`

[2020-01-12 05:31] #79 closed

[2020-01-12 15:17] andyzhangx opened #96 "add negative mountOptions e2e test"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

add mountOptions e2e test including:
 - positive test: fixed by https://github.com/kubernetes-sigs/blobfuse-csi-driver/pull/170
 - negative test (with wong mountOptions provided, it should fail): blocked in https://github.com/kubernetes-sigs/blobfuse-csi-driver/pull/171
 refer to [Ad

[2020-01-12 15:52] ZeroMagic commented on #80
/assign

[2020-01-12 15:52] ZeroMagic commented on #78
/assign

[2020-01-13 05:59] andyzhangx commented on #77
it's done

[2020-01-13 05:59] #77 closed

[2020-01-22 12:46] andyzhangx opened #103 "add e2e test for sas token and key vault suppport"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Currently we only have secret support(store azure storage account name and key in k8s secret)
https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/docs/read-from-keyvault.md

**Describe alternatives you've considered**

**Additional context**

[2020-01-29 07:38] andyzhangx commented on #80
got a regression issue(doc issue): https://github.com/Azure/kubernetes-volume-drivers/issues/44#issuecomment-579587355
`nodePublishSecretRef` should be changed to `nodeStageSecretRef` in doc

[2020-02-04 08:40] #12 closed

[2020-02-04 08:40] #62 closed

[2020-02-06 04:03] andyzhangx opened #109 "MSI support"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

https://github.com/Azure/azure-storage-fuse#config-file-options said MSI auth is only supported from 1.2.0, while current latest release is 1.1.1

Managed Identity auth: (Only available for 1.2.0 or above)

identityClientId: If a MI endpoint is specified, this is the only parameter u

[2020-02-18 08:06] ZeroMagic commented on #31
The commit https://github.com/kubernetes-sigs/blobfuse-csi-driver/commit/cda78e7a95c8573fd02b42a75036f34734bd5a33 has fixed the issue.

[2020-02-18 08:06] #31 closed

[2020-02-24 14:12] andyzhangx opened #115 "restart csi-blobfuse-node daemonset would make current blobfuse mount unavailable"
**What happened**:
1. install blobfuse csi driver and run a nginx-blobfuse pod example
2. `kubectl delete po csi-blobfuse-node-8ttf5 -n kube-system` would make current blobfuse mount inaccessible
 - workaround
delete current nginx-blobfuse pod and create a new nginx-blobfuse pod

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment*

[2020-02-24 14:48] andyzhangx commented on #115
When stage volume is broken, csi driver could not recover:
kubelet logs:
[code]

[2020-02-24 14:51] ZeroMagic commented on #115
It seems that there is a similar problem in azuredisk-csi-driver. After deleting the csi-node pod, the following error appears after creating a new nginx-azuredisk pod.

[code]

[2020-02-24 15:13] andyzhangx commented on #115
fuse driver issue is related to this issue: https://github.com/kubernetes/kubernetes/issues/70013
not sure about the azure disk driver issue, it should be broken as the same way as fuse driver.

[2020-02-24 15:38] andyzhangx commented on #115
[code]

[2020-02-26 11:37] andyzhangx commented on #115
reopen this issue, now it depends on https://github.com/kubernetes/kubernetes/pull/88569

[2020-02-26 11:41] andyzhangx commented on #115
also need to investigate the other two CSI drivers, when restart driver daemonset, will the original mount point still work? May use same fix.

[2020-02-29 14:56] andyzhangx commented on #115
@ZeroMagic could you repro this issue? I have done the azure disk csi driver daemonset restart test, not found any issue.

[2020-02-29 16:09] ZeroMagic commented on #115
I tried it again. But this time it is the same as you. All things are normal. Maybe there was some kind of illegal operation last time.

[2020-03-02 01:46] andyzhangx commented on #115
Update:
I have tried on azure file and azure disk csi drivers, restart driver daemonset **won't** make original mount unavailable, so this issue only applies for fuse driver.

[2020-03-02 01:51] andyzhangx commented on #115
@ZeroMagic I think it could be due to this commit:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/commit/d193671971bb667691a2ec898a7e0b5ce56d8d3e

there is a field name change from `devicePath` to `LUN`, old driver uses `devicePath` and when you switch to use new driver, it uses `LUN`

[2020-03-02 14:40] andyzhangx commented on #115
kubernetes/kubernetes#88569 was merged into k8s v1.18.0, and also in cherry-picking to k8s v1.15, 1.16, 1.17

[2020-03-10 05:36] andyzhangx commented on #115
update:
https://github.com/kubernetes/kubernetes/pull/88569 is merged in 1.15.11, 1.16.8, 1.17.4, 1.18.0

[2020-03-24 05:52] #80 closed

[2020-04-09 14:06] lukasmrtvy opened #128 "Storageclass credentials with statefulset ?"
How can I pass azure storage account credentials for storageclass if I want to use statefulset and volumeClaimTemplates ? ( https://github.com/kubernetes-sigs/blobfuse-csi- driver/blob/master/deploy/example/statefulset.yaml )
Thanks

Is `/etc/kubernetes/azure.json` file only way?

EDIT:
Solved with:
[code]
and
[code]

^ not sure if its needed to restart both.

[2020-04-12 02:18] ZeroMagic commented on #78
/remove-lifecycle stale

[2020-04-15 08:10] andyzhangx opened #130 "support read cloud config from secret"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

port PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/352) to this driver:
/assign @ZeroMagic

**Describe alternatives you've considered**

**Additional context**

[2020-04-15 08:12] andyzhangx commented on #128
use `/etc/kubernetes/azure.json` is the only way now: https://github.com/kubernetes-sigs/blobfuse-csi-driver#prerequisite, and we are going to [support read cloud config from secret](https://github.com/kubernetes-sigs/blobfuse-csi-driver/issues/130)

[2020-04-15 08:18] andyzhangx commented on #128
BTW, you are using statefulset which depends on dynamic provisioning, so provide service principal is the only way now, and if you are using static provisioning, you could provide your storage account by k8s secret, follow guide here: https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/deploy/example/e2e_usage.md#option2-provide-storage-account-name-and-keyor-sastoken

[2020-04-16 06:52] #130 closed

[2020-04-23 08:56] andyzhangx commented on #39
/assign @ZeroMagic

[2020-04-23 08:57] andyzhangx commented on #39
@ZeroMagic take a reference at https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse#1-create-a-secret-which-stores-azure-storage-account

[2020-04-23 22:31] raushan2016 opened #135 "E2E example with persistentVolumeReclaimPolicy: Delete doesn't work"
PV create with `persistentVolumeReclaimPolicy: Delete` is failing with the error
`Error getting deleter volume plugin for volume "pv-blobfuse": no volume plugin matched`

**What you expected to happen**:
PV should get deleted and the backing container should also get deleted.

**How to reproduce it**:
* Use the E2E example with SAS token.
* Create PV with `persistentVolumeReclaimPolicy: Delete`
*

[2020-04-24 02:14] andyzhangx commented on #135
@raushan2016 are you using static provioning: https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/deploy/example/e2e_usage.md#static-provisioninguse-an-existing-storage-account
We don't support delete volume if it's static provioning since the container is brought by user, it's user's responsibility to delete container.

We only support `persistentVolumeReclaimPolicy: Delete` in dyn

[2020-04-24 03:12] #39 closed

[2020-04-24 13:04] andyzhangx commented on #109
actually it's already supported on v0.5.0 version

[2020-04-24 13:04] #109 closed

[2020-04-24 13:32] andyzhangx opened #137 "Create a blobfuse with a new storage account would lead to error"
**What happened**:
Create a blobfuse with a new storage account would lead to error:

[code]

[code]
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-04-24 13:37] andyzhangx opened #138 "add MSI e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-04-27 03:28] andyzhangx opened #142 "code coverage status is broken"
**What happened**:

https://coveralls.io/github/kubernetes-sigs/blobfuse-csi-driver?branch=master

https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/.travis.yml

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Ker

[2020-04-27 03:29] andyzhangx commented on #138
already added in e2e/manifest/linux-vmss.json

[2020-04-27 03:29] #138 closed

[2020-04-29 08:33] andyzhangx opened #143 "Support customer specified MSI endpoint"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-04-30 06:50] andyzhangx opened #144 "VHD disk feature on blobfuse"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Create VHD disk in blob storage container directly, and then blobfuse mount to local VM, by this way, disk attach/detach could only costs < 1s

**Describe alternatives you've considered**

**Additional context**

[2020-04-30 13:23] andyzhangx commented on #144
Update:
The create vhd operation on blobfuse driver would make system quite slow, and it costs quite a few minutes to running complete. Per current experiment result, I don't think it's a good idea to write VHD disk feature based blobfuse driver, instead, VHD disk feature on azure file is quite amazing.

[code]

[code]

[2020-05-07 12:41] #135 closed

[2020-05-07 12:46] #128 closed

[2020-05-11 12:32] andyzhangx opened #151 "improve unit test coverage"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

current code coverage:
https://coveralls.io/github/kubernetes-sigs/blobfuse-csi-driver

![image](https://user-images.githubusercontent.com/4178417/81561793-578eb780-93c6-11ea-88d8-00b969213a6f.png)

**Describe alternatives you've considered**

**Additional context**

[2020-05-15 11:25] andyzhangx opened #152 "update base image with debian-base"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

update base image with debian-base which has less security vulnerability:
could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/273

**Describe alternatives you've considered**

**Additional context**

[2020-05-18 07:47] ferronsw opened #153 "CSI or FlexVolume"
Is the CSI driver production ready? Or should we use the FlexVolume driver for now?

[2020-05-26 12:54] andyzhangx commented on #153
It's now in beta. FlexVolume driver is deprecated by k8s community now.

[2020-05-26 12:55] andyzhangx opened #156 "Charts: refine helm installation"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/294

**Describe alternatives you've considered**

**Additional context**

[2020-06-03 05:51] andyzhangx commented on #152
could you fix this issue? @Sakuralbj thanks

[2020-06-03 12:57] Sakuralbj commented on #152
Ok.I'll do it

[2020-06-06 06:07] andyzhangx opened #163 "feat: add storage account private link support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/300

**Describe alternatives you've considered**

**Additional context**

[2020-06-09 01:37] andyzhangx opened #164 "use ramdisk for temporary path"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

[code]

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux#prepare-for-mounting

**Describe alternatives you've considered**

**Additional context**

[2020-06-09 02:51] andyzhangx commented on #164
use tmpfs ramdisk is still slow

[2020-06-09 02:51] #164 closed

[2020-06-10 08:27] andyzhangx commented on #156
@Sakuralbj can you work on this?
could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/charts

[2020-06-11 01:14] Sakuralbj commented on #156
/assign

[2020-06-11 14:24] #156 closed

[2020-06-12 09:32] andyzhangx opened #167 "install blobfuse csi driver failed by chart after azure file driver installed"
**What happened**:
install blobfuse csi driver failed by chart after azure file driver installed:
[code]

/assign @Sakuralbj

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-06-15 01:49] Sakuralbj commented on #167
We have a common crd [csi-node-info](https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/charts/latest/blobfuse-csi-driver/templates/crd-csi-node-info.yaml) in  azuredisk azurefile and blobfuse. Because they have different [labels](https://github.com/kubernetes-sigs/blobfuse-csi-driver/blob/master/charts/latest/blobfuse-csi-driver/templates/crd-csi-node-info.yaml#L6) during installa

[2020-06-15 01:59] Sakuralbj commented on #167
Is it possible to consider using common labels or removing labels in crd-csi-node-info , but this will cause when  helm uninstall one of the drivers, the crd of the other two drivers will also be deleted. WDYT？@ZeroMagic

[2020-06-15 02:12] andyzhangx commented on #167
This is the same as yaml deployment, when we do uninstall, current common crd-csi-node-info will also be deleted. I think we can go with this solution first to fix installation issue.

As for delete issue, we could only make a small change: don't delete `crd-csi-node-info` in uninstallation, pls check  @Sakuralbj  whether there are other common resources shared by blobfuse, azurefile, azuredisk in

[2020-06-15 02:53] ZeroMagic commented on #167
Here we can directly delete this alpha crd. It stills works.

According to the official doc(https://kubernetes-csi.github.io/docs/csi-node-object.html), in k8s v1.14+, kubelet has by deafult used the beta object which is called CSINode to communicate with node-driver-registrar.

[2020-06-15 04:32] Sakuralbj commented on #167
There is only one csi-node-info public resource so far.  I test that deleting this resource will not affect the function of csi-driver.

[2020-06-16 10:58] #167 closed

[2020-06-22 01:11] andyzhangx opened #169 "Support blob storage on Windows container"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

Currently there is no official blob storage support on Windows container, candidate could be:
- https://github.com/weswu8/blobfs-win

We need an official driver to mount blob storage container as a drive, and then k8s would consume that drive.

Also there is a reference here:
https:/

[2020-06-22 09:24] andyzhangx commented on #20
/assign @ZeroMagic

[2020-06-23 17:42] mozts2005 commented on #163
Is there anything I can do to help add this ASAP?

[2020-06-24 03:01] #163 closed

[2020-06-24 06:20] andyzhangx commented on #163
it's already merged in master branch, you could check PR#172 for more details. @mozts2005

[2020-06-24 11:09] mozts2005 commented on #163
Thanks

[2020-06-25 14:18] jmaitrehenry opened #173 "After some time volume is no more available to pod: Socket not connected"
**What happened**:
After some time, the volume is no more accessible for the pod.
In the StatefulSet, the first pod doesn't have any issue 40d later, the second pod is broken after 48 days, can't say if it's a problem that occur after a fixed time or not.

From Redis using the volume for the dump.rdb file:
[code]

From kubectl trying to enter in the container where the volume is the cwd:
[code]

*

[2020-07-06 08:24] #152 closed

[2020-07-08 14:22] andyzhangx commented on #173
@jmaitrehenry is your blobfuse-node pod restarted on that node? If yes, it could be related to this issue: https://github.com/kubernetes-sigs/blobfuse-csi-driver/issues/115, fixed in v1.16.8

[2020-07-08 17:21] jmaitrehenry commented on #173
@andyzhangx After so much time, I can say "Yes" for sure but one of the pod is younger than other so it's maybe the case.
In this case, I will close my issue and reopen it if I see the problem again.

[2020-07-08 17:21] #173 closed

[2020-07-09 01:25] andyzhangx commented on #173
pls try with https://github.com/kubernetes-sigs/blobfuse-csi-driver/releases/tag/v0.5.0 on 1.15.11, 1.16.8, 1.17.4, 1.18.0, otherwise if you restart blobfuse-node pod, original mount path would be still broken.

[2020-07-09 17:48] jmaitrehenry commented on #173
Will do, the cluster is updated to 1.16.9, I let you informed but, as it's a production cluster, I will maybe test on a new cluster first.

[2020-07-11 13:03] andyzhangx commented on #143
fixed by https://github.com/kubernetes-sigs/blobfuse-csi-driver/pull/146

[2020-07-11 13:03] #143 closed

[2020-07-11 13:40] andyzhangx opened #179 "bring your own storage account key for dynamic provisioning"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option1-storage-class-usage

**Describe alternatives you've considered**

**Additional context**

[2020-07-11 13:41] andyzhangx commented on #142
already fixed

[2020-07-11 13:41] #142 closed

[2020-07-13 11:48] andyzhangx opened #181 "add hack/verify-gomod.sh"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add hack/verify-gomod.sh:
 - go mod tidy
 - go mod vendor

if there is "git diff", then return error

cc @Sakuralbj

**Describe alternatives you've considered**

**Additional context**

[2020-07-13 11:52] #20 closed

[2020-07-14 07:35] #181 closed

[2020-07-17 13:39] andyzhangx commented on #151
update: it's now 36%

![image](https://user-images.githubusercontent.com/4178417/87792088-f7a90700-c875-11ea-8303-59a5f668f8c9.png)

[2020-07-18 06:45] #96 closed

[2020-08-05 09:34] andyzhangx opened #192 "Rename blobfuse driver to blob driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

This driver has already supported both blobfuse and NFSv3 mount, we are going to rename `blobfuse.csi.azure.com` to `blob.csi.azure.com`

**Describe alternatives you've considered**

**Additional context**

/assign

[2020-08-05 12:56] andyzhangx opened #195 "add e2e test for NFS support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/blobfuse-csi-driver/tree/master/deploy/example/nfs
blocked by:
1. NFSv3 support on azure storage still requires register
2. eastus2 region support

**Describe alternatives you've considered**

**Additional context**

[2020-08-12 13:23] andyzhangx opened #214 "nfs-common install issue"
**What happened**:

https://github.com/kubernetes-sigs/blob-csi-driver/blob/06df5fee08512fc17cc3684173b3b075fee7dec9/pkg/blobplugin/Dockerfile#L28-L29

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a

[2020-08-13 12:02] #151 closed

[2020-08-15 13:36] andyzhangx opened #220 "remove nfs-kernel-server in Dockerfile"
**What happened**:
To fix below `mount.nfs: Protocol not supported` issue for NFSv3 client issue in debian base image, have to install `nfs-kernel-server` in debian image, need to remove `nfs-kernel-server` package in the future:

[code]

https://github.com/kubernetes-sigs/blob-csi-driver/blob/9a77436ecf2f7786f42eaac6de25e6eb15be096e/pkg/blobplugin/Dockerfile#L28-L29

**What you expected to happen

[2020-08-25 14:35] #192 closed

[2020-09-04 08:36] onepos-zaika opened #235 "folders not being recognized when a octet-stream zero sized file with the same name in the same level"
AKS version: v1.17.9
blob-csi-driver installed via helm3: v0.8.0

installation command:
 helm3 install blob-csi-driver blob-csi-driver/blob-csi-driver --set controller.replicas=1 --namespace kube-system --version v0.8.0

problem description:
We have an existing blob container connecting to a VM and we are trying to migrate the workload to AKS.

We have successfully mounted the blob storage using b

[2020-09-04 08:46] andyzhangx commented on #235
hi @onepos-zaika the driver only use the built-in blobfuse binary, for v0.8.0, it's using `1.3.1`
cc @NaraVen for any insight about this issue, it's more like blobfuse driver issue.

[2020-09-04 08:58] andyzhangx commented on #235
@onepos-zaika here is the way to install blobfuse `1.3.1` version on every agent node, that would help narrow down the issue:
[code]

also to narrow down this issue, use blobfuse mount directly on one agent node:
[code]

[2020-09-04 20:28] NaraVen commented on #235
It is normal. The purpose of this is to provide a zero byte directory marker for empty directories since blob ( non-adls) has no other way to retain empty folders. So,  folders created in the mount dir or sub directory of blobfuse also have a zero file with the same name. The metadata hdi_isfolder=true is set in these files. However blobfuse will still work correctly  if the user decides to delete

[2020-09-05 02:13] onepos-zaika commented on #235
Hello! Thank you for the quick reply @andyzhangx  . Last night, I tried to compile blobfuse in a alpine docker image but failed... then I tried debian but it reported /dev/fuse not found...   I shall try blobfuse 1.3.1 in another ubuntu machine today.

And @NaraVen, thank you for your insight. I know that is normal to have both the folder and a zero. But when I connect the existing blob using blob

[2020-09-05 09:18] onepos-zaika commented on #235
hello all!
Finally.. the problem is because I have cloned the blob container using azure data factory....  It looks like that data factory will not preserve something so that the destination blob will have this problem....
I have to find another way to copy the blob to the new region later.  Thank you for your help. @andyzhangx  and @NaraVen

[2020-09-05 11:45] andyzhangx commented on #235
thanks for the confirm

[2020-09-05 11:45] #235 closed

[2020-09-05 20:14] NaraVen commented on #235
onepos-zaika , Glad you resolved the problem. However, I want to answer your question in case someone refers to this thread in future.  In blobfuse mounted dir you will be able to 'cd' to a directory whether you delete the zero byte directory marker blob or not.

[2020-09-06 02:20] onepos-zaika commented on #235
Yes. Confirmed that,  In blobfuse mounted dir you will be able to 'cd' to a directory whether you delete the zero byte directory marker blob or not.
The captioned problem is caused by using azure data factory to move storage account which is a recommended method in azure document.
https://docs.microsoft.com/en-us/azure/storage/common/storage-account-move?tabs=azure-portal
under Copy data to or fro

[2020-09-09 07:21] andyzhangx opened #237 "add e2e test for bring own key feature"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

related to https://github.com/kubernetes-sigs/blob-csi-driver/pull/234

**Describe alternatives you've considered**

**Additional context**

[2020-09-15 01:50] andyzhangx opened #239 "support container level snapshot"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Container-level snapshots aren’t currently available. However, you can take blob level snapshots. Blobs now also support versioning, which also work at the blob level.

You can use [point in time restore of blobs](https://docs.microsoft.com/en-us/azure/storage/blobs/point-in-time-r

[2020-09-21 02:51] andyzhangx commented on #115
This issue is actually not fixed, restart blob driver daemonset would still make current blobfuse mount unavailable, workaround is delete pod with blobfuse mount, and remount would work with fix https://github.com/kubernetes/kubernetes/pull/88569, to permanently fix this issue, should add a new proxy (run as process) to mount blobfuse outside of driver daemonset(like csi-proxy on Windows).

Anothe

[2020-09-26 10:13] #237 closed

[2020-09-27 15:49] #144 closed

[2020-10-01 09:06] mayankshah1607 opened #253 "test: Add support for running unit tests on Windows"
**Describe the solution you'd like in detail**
Fix unit tests failures on Windows and add support for running unit tests on Windows on Github actions

**Additional context**

Similar - https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/406 , https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/556

[2020-10-01 09:06] mayankshah1607 commented on #253
/assign

[2020-10-01 14:32] #253 closed

[2020-10-15 03:53] andyzhangx commented on #179
fixed by https://github.com/kubernetes-sigs/blob-csi-driver/pull/234

[2020-10-15 03:53] #179 closed

[2020-10-23 14:57] #153 closed

[2020-10-30 06:41] andyzhangx opened #262 "PV/PVC usage does not work for NFS protocol"
**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-10-30 15:19] #262 closed

[2020-11-03 13:07] Binyang2014 opened #266 "Support on env which not has azure.json under /etc/kubernetes"
When launching blob-csi node daemon, it requires azure.json or other cloud provider config.
It's better to support on-premise env . And the env which not using AKS but raw VMs.

I think for static Provisioning, there is no need for cloud config such as `tenantId` and `subscriptionId`. I'm not sure why this is checked in `nodeserver`.
https://github.com/kubernetes-sigs/blob-csi-driver/blob/58221649

[2020-11-03 13:35] andyzhangx commented on #266
`azure.json` has basic info, location, e.g.
https://github.com/kubernetes-sigs/blob-csi-driver/blob/58221649504ea2ffebd150ecd4806a5f3e36d27e/deploy/example/azure.json#L2

So even it's on-premise env, still needs other info and credentials.
BTW, user could store `azure.json` config into configmap, see instruction here: https://github.com/kubernetes-sigs/blob-csi-driver#prerequisite

[2020-11-04 00:13] jiaxunsongucb opened #267 "livenessprobe flag --connection-timeout deprecated in version 1.1.0"
**What happened**:
livenessprobe flag `--connection-timeout` deprecated in version 1.1.0
https://github.com/kubernetes-csi/livenessprobe/tree/release-1.1
AKS Engine is using livenessprobe  2.0.0, so the flag `--connection-timeout` in the deploy example yaml files will not work.

**What you expected to happen**:
Replace the flag `--connection-timeout` with `--probe-timeout`.

**How to reproduce it*

[2020-11-04 03:29] Binyang2014 commented on #266
Thanks @andyzhangx, I follow the doc but  csi-blob-node failed to start. It always logs:
[code]
I put azure.json into a secret `azure-cloud-provider` in kube-system namespace
[code]

In azure.json. I only put tenantId subscriptionId and cloud field. Do I miss some steps?

[2020-11-04 03:31] Binyang2014 commented on #266
BTW,  `csi-blob-node` can starts normally if I mount the secret as a file under /etc/kubernetes

[2020-11-04 13:12] andyzhangx commented on #266
is there any issue now?

[2020-11-04 13:17] Binyang2014 commented on #266
Sure, seems official doc about how to setup blob-csi not work (For the env which not has azure.json). I hope we can give clear doc for this. Then we can introduce this method to our customer.

[2020-11-04 13:20] andyzhangx commented on #266
do you think this doc is ok? https://github.com/kubernetes-sigs/blob-csi-driver#prerequisite
or maybe should refine this doc a little?

[2020-11-04 13:37] Binyang2014 commented on #266
Actually, I could not deploy CSI successfully according this doc. We could discuss this offline :-)

[2020-11-05 05:59] Binyang2014 commented on #266
A workaround for this is change node daemonset to
[code]

And set the secret to ` azure-cloud-provider`
[code]

[2020-11-05 13:28] #267 closed

[2020-11-10 07:26] ZeroMagic commented on #266
Following is the minimum info set. Please ensure that all the required fields are included in your configuration.
[code]

[2020-11-13 02:08] #266 closed

[2020-11-13 07:26] songjiaxun opened #275 "Storage Account Secret Rotation"
**Is your feature request related to a problem?/Why is this needed**

When the storage account key is changes for some reason, there should be a way to update the key in the Kubernetes Secret.

**Describe the solution you'd like in detail**

Implement storage account secret rotation feature to make the storage account truly "managed".
Add logic to check if the key in the Kubernetes Secret represen

[2020-11-13 07:29] songjiaxun opened #276 "External Storage Account Support"
**Is your feature request related to a problem?/Why is this needed**

If external storage accounts (outside of the resource group where the k8s cluster is living) can be used, it will give Azure Stack external storage/ back up capbilities.

**Describe the solution you'd like in detail**

Static as well as dynamic provisioning supports configuring an external storage account.

**Describe alternativ

[2020-11-13 07:33] songjiaxun opened #277 "E2E tests cover k8s Upgrade cases"
**Is your feature request related to a problem?/Why is this needed**

During Kubernetes cluster Upgrade/ Scale down operations, Nodes will be drained, thus the Blob CSI Node servers will be down, and Pods will be evicted to other nodes. We need test cases to make sure during and after the operations, Blob CSI Driver is always functional and does its work to move around the volumes.

**Describe the

[2020-11-13 19:36] songjiaxun opened #278 "Helm package gives Error: Invalid Semantic Version"
**What happened**:
`helm package blob-csi-driver` under `latest` folder gives `Error: Invalid Semantic Version`.
Helm version: version.BuildInfo{Version:"v3.4.1", GitCommit:"c4e74854886b2efe3321e185578e6db9be0a6e29", GitTreeState:"clean", GoVersion:"go1.14.11"}

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
-

[2020-11-18 08:17] andyzhangx commented on #195
already fixed

[2020-11-18 08:17] #195 closed

[2020-11-19 08:23] #169 closed

[2020-11-24 07:28] ZeroMagic opened #284 "Remove the dependency of azure.json in node server"
**Is your feature request related to a problem?/Why is this needed**

If the customers just use the node server to automatically complete the mount command, they don't need to provide the azure.json. But now, in our code, it is still required to provide the config.
After removing the config, the node server will also work on the non-AKS clusters in static provision.
**Describe the solution you'd l

[2020-11-25 04:34] andyzhangx opened #285 "NFSv3 dynamic provisioning support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-11-25 06:14] andyzhangx commented on #278
so it does not work on helm `v3.4.1` now?

[2020-11-28 06:15] songjiaxun commented on #278
It still does not work on helm `v3.4.1`. Probably we can just skip `helm package`? Submitted a PR already.

[2020-12-02 15:28] andyzhangx commented on #214
cc @dr0pdb

[2020-12-02 15:30] andyzhangx commented on #78
cc @dr0pdb

[2020-12-02 15:57] dr0pdb commented on #78
/assign

[2020-12-03 19:42] dr0pdb commented on #78
@andyzhangx What does resize mean in the context of a blob container? As far as I can see, we don't really set any size on the blob container ([blob/controllerserver.go#L53](https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/pkg/blob/controllerserver.go#L53)). The `requestGiB` variable is unused.

I guess we can always send a successful response and ignore the size in the expansion req

[2020-12-04 14:14] andyzhangx commented on #78
yes, that's an empty implementation, and we need to set a size limit in the expansion volume operation.

[2020-12-05 13:33] andyzhangx commented on #78
it said `Same as maximum storage account capacity`, I think it's at least 100TB

[2020-12-05 13:36] dr0pdb commented on #78
oh yes, my bad. 4.75 TiB is the max size of one block. I'll set as 100 TB.

[2020-12-07 02:20] onepos-zaika opened #289 "Huge storage account list usage (cost a lot of money$$$)"
Hello!
We are using blob-csi-driver installed by helm chart blob-csi-driver-v0.10.0 in AKS cluster version 1.19.3
We have 400 pods in the cluster and each of them mounts to the same storage account 4 times.
It looks like that, when a pod is created, it generates a few thousand list operations... and when it times 400 pods, it becomes a few million list operations...

![Screenshot 2020-12-07 100252

[2020-12-07 02:26] andyzhangx commented on #289
@NaraVen do you have any idea on this?

[2020-12-07 02:29] andyzhangx commented on #289
@onepos-zaika it's list operation in that account, right? should not be so many `storage account list` operations

[2020-12-07 02:32] onepos-zaika commented on #289
@andyzhangx  Thank you for the prompt reply.
According to the azure cost analysis, it comes from lrs list and create container operations..
![Screenshot 2020-12-07 103046](https://user-images.githubusercontent.com/50311058/101302769-7d563f00-3877-11eb-9bac-4a0ffadd1f99.jpg)

[2020-12-07 02:40] andyzhangx commented on #289
@onepos-zaika how many containers have you created totally? I am not clear about lrs list

[2020-12-07 02:48] onepos-zaika commented on #289
We have around 400pods..  over 800 containers.
![Screenshot 2020-12-07 104546](https://user-images.githubusercontent.com/50311058/101303701-9364ff00-3879-11eb-8a31-c796cd1bfdfe.jpg)

We expect to growth to a few thousands next year.

[2020-12-07 08:32] NaraVen commented on #289
Blobfuse does not automatically do a list after authenticating. Does the CSI driver have a default list to smoke test if the driver mounted? If it does then it should be changed to list only 10 or something because, if there are too many blobs List will be expensive: PayGo pricing of $0.05/10k operations (same as Hot/cool/archive).  Write is only 0.0175 per 10k and read 0.0014 per 10k.

[2020-12-07 09:44] andyzhangx commented on #289
the driver won't list automatically, per the description: `when a pod is created, it generates a few thousand list operations`, @onepos-zaika will you app try to list all blobs in the start up?

[2020-12-07 10:41] onepos-zaika commented on #289
The applicate does check for the existing of a file and if the file exist, we will compare the file with the source in docker image. If they are different and newer, we shall replace this file.  But it will not do this a few thousand times...  I am asking azure support to see whether I can have a log to see which file(s) are involved in the the operation.
Is there a way to log the csi operation in

[2020-12-07 10:45] andyzhangx commented on #289
@onepos-zaika you could see all operations in driver side here: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/pkg/blob/nodeserver.go, there is no such list operation in that file.

[2020-12-07 10:54] onepos-zaika commented on #289
Then..   maybe this is blobfuse's job to translate cp, mkdir commands to blob commands?
When contain starts, it will run a bash script like this:
if [ ! -d "${DIRPRIVATE}html" ]
then
    mkdir -p "${DIRPRIVATE}html"
    cp -ru "$WWW_PATH/htmlorig"/* "${DIRPRIVATE}html"
fi

[2020-12-07 10:56] andyzhangx commented on #289
@onepos-zaika I think you could remove above operations first, just mount and make that app in idle state, that could help narrow down the issue, thanks.

[2020-12-07 10:58] andyzhangx commented on #289
another way is blobfuse mount manually without this driver:
https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/csi-debug.md#troubleshooting-connection-failure-on-agent-node

and then perform the above operations, and check whether there is list operation.

[2020-12-07 11:03] onepos-zaika commented on #289
Actually, I can do some test in the staging cluster.
I still need a way to see how Azure counts the list operation..  otherwise it is very difficult to solve the problem.
The script will not run if the container does not restart. But if we have code update and build a new image, then it will do a deploy rollout restart.  Then $$$ flies away.

[2020-12-08 00:38] onepos-zaika commented on #289
Hello! @andyzhangx
Actually, we did connect to the same storage account with blobfuse in our old server in which we ran similar scripts (not exactly the same). But we discovered this problem only after we have migrated all our sites to AKS.
However, now it looks like this problem may relate to blobfuse more. Should I create another case in blobfuse github and link this one to it?
I shall also send

[2020-12-08 02:04] andyzhangx commented on #289
@onepos-zaika I think you could file an support ticket to storage team and also file an issue in blobfuse github.
It's better use blobfuse mount manually to narrow down issue, e.g.
[code]

and then run the test.

[2020-12-08 04:01] onepos-zaika commented on #289
Finally found a way to open technical support ticket to Azure storage team. The support id is 120120826001226
I shall keep you posted for the finding. Thank you.

[2020-12-08 08:47] NaraVen commented on #289
@onepos-zaika, blobfuse does a list after auth but restricts maxResults = 2. Since you have opened a support ticket could you also ask them if this will amount to the same billing as a complete list?  I would be surprised if it does but it woud be eye-opening to know.

[2020-12-08 10:51] onepos-zaika commented on #289
Thank you Nara. We actually used blobfuse alone in the old server. The old server is a standalone server in Ubuntu. We did not have this problem in the old server.  This problem only appeared after we moved the server to a AKS cluster. We use Alpine as the container base.

@andyzhangx: may I know how many mount operation will blob-csi-driver do when the a pod is created? Because I have manually cr

[2020-12-08 10:56] NaraVen commented on #289
@onepos-zaika from my comment above, "In many distro's though the fuse filesystem which blobfuse is built-on tries to read the mounted directory resulting in the files being listed. I have seen this in Ubuntu. This is what is happening in your case. ". So, it is listing the entire mount dir because for that OS fuse is triggering a readdir ( which lists). you will save some $$ with the extra option

[2020-12-08 11:04] andyzhangx commented on #289
@onepos-zaika there is only one blobfuse mount for every PV on one node, you could ssh to the agent node to check. And as @NaraVen suggested, try use following storage account with additional mount options to have a try:
[code]

[2020-12-08 11:07] onepos-zaika commented on #289
@andyzhangx  If there is only one mount in one node, it won't generate such amount of list....
Because I need to specify the storage account name, how can I do this with StorageClass?.  I did this in pvc...  Thank you.

[2020-12-08 11:22] andyzhangx commented on #289
@onepos-zaika in your PV there is also `mountOptions` setting, set as either in PV or storage class:
[code]

[2020-12-08 11:26] onepos-zaika commented on #289
Oh..  I understand what you mean now. when the node mounts the storage account, it list recursive. And a container mounts the folder in the node, it also do recursive list... Then this can generate that amount of list.
Then if cache is there in the node, then even if container do a recursive list, the node has a cache to response to it...
Am I correct?
But why in the earth only me has this problem

[2020-12-08 11:31] andyzhangx commented on #289
@onepos-zaika you need to change PV setting and remount and NFS is not fuse, it may not have such issue.

[2020-12-08 11:36] onepos-zaika commented on #289
Good news, in staging cluster, I have 14 pods = 28 containers. In the last build 10 mins ago, the transaction to storage account has been greatly reduced.
![Screenshot 2020-12-08 193151](https://user-images.githubusercontent.com/50311058/101478880-4faeea00-398c-11eb-9103-4353c58ae084.jpg)

I shall try to restart the pods a few times. If it works, I shall apply the setting to production cluster.
Wh

[2020-12-08 11:50] onepos-zaika commented on #289
But the reduction does not quite reasonable.  It reduced by 10000 times compared to the last build yesterday.
![Screenshot 2020-12-08 194710](https://user-images.githubusercontent.com/50311058/101480261-6bb38b00-398e-11eb-8c15-0131a714d9ab.jpg)

[2020-12-08 11:53] andyzhangx commented on #289
so it's reduced by following mount options?
[code]

[2020-12-08 11:57] onepos-zaika commented on #289
@andyzhangx  Yes. seems to be. I am applied this to production. Are we ready to restart the pods? If it does not work, then it costs USD30 to restart once.

[2020-12-08 12:27] andyzhangx commented on #289
@onepos-zaika quite expensive restart, I think we should add this mountOptions in the example

[2020-12-08 12:53] onepos-zaika commented on #289
@andyzhangx  Yes, it does.  I was scared when I checked the cost last week. Anyway, I have tried to restart 3 pods. The first one, it consumed 5k calls. And the other 2 pods only used less than 300 calls to storage account.
We shall release the new build to production tomorrow and expect to have 400 x 300 = 120000 calls which is acceptable and costs around 0.5 USD.
Thank you both @andyzhangx  @Nar

[2020-12-09 14:12] andyzhangx opened #291 "support arbitrary volume id in static pv"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently in static pv, if there is no secret provided, volume id format must be `rg#accoutname#filesharename`, actually it's not necessary, if user provides following parameters, volume id could be arbitrary string:
[code]

**Describe alternatives you've considered**

**Additional

[2020-12-10 16:44] dr0pdb commented on #214
/assign

[2020-12-11 19:40] dr0pdb commented on #214
@andyzhangx I ran the Dockerfile locally and didn't get any error.

[code]

[2020-12-12 00:50] andyzhangx commented on #214
can you change `RUN apt update && apt install nfs-common nfs-kernel-server -y || true` to `RUN apt update && apt install nfs-common nfs-kernel-server -y` and try again?

[2020-12-12 09:35] dr0pdb commented on #214
Yeah I was able to reproduce.

[code]

[2020-12-14 10:49] #78 closed

[2020-12-14 10:51] andyzhangx commented on #289
shall we add following mount options by default in this driver to prevent large amount of storage account list operations? @NaraVen

[code]

[2020-12-14 10:59] andyzhangx opened #292 "implement NodeGetVolumeStats function"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-sigs/blob-csi-driver/blob/b10f0a8f66015cf20d53706804e1092c66db0e14/pkg/blob/nodeserver.go#L254-L257

could refer to azure file driver.

**Describe alternatives you've considered**

**Additional context**

[2020-12-14 10:59] andyzhangx commented on #292
could you help on this @dr0pdb? thanks.

[2020-12-14 13:12] dr0pdb commented on #292
/assign

[2020-12-14 17:23] NaraVen commented on #289
Yes, I think it is a very good idea.

From: Andy Zhang <notifications@github.com>
Sent: Monday, December 14, 2020 2:51 AM
To: kubernetes-sigs/blob-csi-driver <blob-csi-driver@noreply.github.com>
Cc: Nara V <narven@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes-sigs/blob-csi-driver] Huge storage account list usage (cost a lot of money$$$) (#289)

shall we add followin

[2020-12-15 02:45] onepos-zaika commented on #289
@andyzhangx  and  @NaraVen
Our staging build failed to pass QA last week so we are going to build to prod today.
However, when I check the storage account usage, it seems like everyday it will generate one time high traffic.
![Screenshot 2020-12-15 103242](https://user-images.githubusercontent.com/50311058/102161350-24635800-3ec2-11eb-8505-ac8db689cb1e.jpg)

It looks like these options can reduce

[2020-12-15 03:37] onepos-zaika commented on #289
![Screenshot 2020-12-15 113540](https://user-images.githubusercontent.com/50311058/102167632-c0dd2880-3ec9-11eb-8150-b20cc7690e45.jpg)

Hello! Restart does not cost a lot now. Cheers.

[2020-12-16 03:39] onepos-zaika commented on #289
@andyzhangx
Hello! We have a new build today and the traffic looks normal during the build.

![Screenshot 2020-12-16 113214](https://user-images.githubusercontent.com/50311058/102301764-796e9f00-3f92-11eb-9a8c-e29be1130ea1.png)

But it looks difficult to find an explanation of daily peak.
I assume the cache is in node level, then when cache expires, it will update the cache by recursively list my

[2020-12-16 09:24] NaraVen commented on #289
@onepos-zaika , if you do not need auth NFS is a good alternate. VNet security is the primary way to secure data in NFS.

[2020-12-16 12:39] onepos-zaika commented on #289
Thank you Nara.
auth is nice, but it not mandatory because we have full control over the cluster.
The problem of NFS is that we need to create a new storage account and copy the files to the new one. There is no one-click enable NFS function....    But if it is the only way, we definitely need to do it.

[2020-12-16 15:45] NaraVen commented on #289
You can only enable NFS in a new account but you can use AZCopy to copy data from this account to the new one. It is quite fast.

[2020-12-19 14:44] #292 closed

[2020-12-30 13:59] #291 closed

[2020-12-31 03:55] #289 closed

[2021-01-07 11:51] andyzhangx opened #309 "add kubelet path parameter in helm chart installation"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-csi/csi-driver-smb/blob/a9a2e47b1790b18e722e9d0b4d413c4e8a520507/charts/latest/csi-driver-smb/values.yaml#L47-L49

**Describe alternatives you've considered**

**Additional context**

[2021-01-07 11:52] andyzhangx commented on #309
could you help? @dr0pdb
thanks

[2021-01-07 11:55] dr0pdb commented on #309
sure

/assign

[2021-01-09 12:29] #309 closed

[2021-01-15 09:26] vojtechspacir opened #317 "Non root pods aren't able to use blob storage on CentOS"
**What happened**:
Unable to access blob mount in the pod:
_nonroot@statefulset-blob-0:/$ ls -la /mnt/_
_ls: cannot access '/mnt/blob': Permission denied_
_total 0_
_drwxr-xr-x 1 root root 18 Jan 15 09:06 ._
_drwxr-xr-x 1 root root 28 Jan 15 09:06 .._
_d????????? ? ?    ?     ?            ? blob_

**What you expected to happen**:
Pods without root (securityContext: runAsUser: 0) should be able to

[2021-01-15 12:34] andyzhangx commented on #317
My Ubuntu 18.04 actually works, so it should be related to CentOS:
[code]

[2021-01-15 12:38] andyzhangx commented on #317
@NaraVen do you know why `mountOptions -o allow_other` does not work on CentOS, it works in Ubuntu. And our driver image is a debian based image, using blobfuse 1.3.6, thanks.

[2021-01-15 12:39] andyzhangx commented on #317
cc @seguler

[2021-01-16 12:19] harshika-kashyap opened #320 "Handle concurrent operation of NodeUnstage with NodeStage and NodeUnpublish with NodePublish"
#### What happened
we don't correctly handle concurrent processing of NodeUnstage call if a previous NodeStage was in-progress and same thing applies to NodeUnpublish call too.

The specs says, if an operation is in-progress for the volume then SP should return error code "10 ABORTED" - https://github.com/container-storage-interface/spec/blob/master/spec.md#timeouts

/kind bug
/assign

[2021-01-17 12:33] #320 closed

[2021-01-25 12:22] andyzhangx commented on #289
@onepos-zaika so you are still using v0.10.0, and it still costs a lot more than you expected?

[2021-01-26 01:23] onepos-zaika commented on #289
@andyzhangx  Thank you for coming back to the case.
![Screenshot 2021-01-26 090607](https://user-images.githubusercontent.com/50311058/105786177-8500ad00-5fb7-11eb-983a-c1db29d42a6f.png)

Adding the new options did solved the problem of high traffic during a new build.
However, as you can see, There is still a daily peak at constant time....   And sometimes it goes terribly high.
We wanted to use

[2021-01-26 01:32] andyzhangx commented on #289
@onepos-zaika what CSI driver version are you using now? We added `NodeGetVolumeStats` in v0.11.0 that may introduce more calls, need to make sure that's not related. Could you provide the logs from one node driver, follow by: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

[2021-01-26 01:41] onepos-zaika commented on #289
@andyzhangx
There are 36k rows of these kind of logs:
I0126 01:37:17.296294       1 utils.go:108] GRPC request: {}
I0126 01:37:17.296662       1 utils.go:113] GRPC response: {"capabilities":[{"Type":{"Rpc":{"type":1}}},{"Type":{"Rpc":{}}}]}
I0126 01:37:17.298396       1 utils.go:107] GRPC call: /csi.v1.Node/NodeGetCapabilities
I0126 01:37:17.298404       1 utils.go:108] GRPC request: {}
I0126 01:3

[2021-01-26 01:44] andyzhangx commented on #289
@onepos-zaika thanks, then it's not related to `NodeGetVolumeStats`, and we won't print out those logs in next version, that's really too many useless logs.

[2021-01-26 09:22] ZeroMagic commented on #284
- [x] Feature Code

- [ ] Feature Doc

[2021-01-30 03:39] andyzhangx commented on #278
this issue would be fixed by https://github.com/kubernetes-sigs/blob-csi-driver/pull/333, I changed the `version` to `1.0.0`, it would work, and need to update the version num in every new release.

[2021-01-30 13:09] #278 closed

[2021-02-05 11:47] andyzhangx opened #339 "improve ut coverage for controllerserver.go"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

The line in red is missing ut test coverage:
https://coveralls.io/builds/36861816/source?filename=pkg%2Fblob%2Fcontrollerserver.go

especially for Azure Stack coverage

**Describe alternatives you've considered**

**Additional context**

[2021-02-05 11:51] andyzhangx opened #340 "add ut coverage for nodeserver.go"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

The line in red is missing ut test coverage:
https://coveralls.io/builds/36861816/source?filename=pkg%2Fblob%2Fnodeserver.go

**Describe alternatives you've considered**

**Additional context**

[2021-02-05 15:24] vojtechspacir commented on #317
I can confirm, that Ubuntu doesn't have this issue.

[2021-02-11 05:59] rnarayana commented on #317
Do you mean Host OS being CentOS or container? I'm seeing same issue with Ubuntu 18.04 Host VM, and alpine based container.

[2021-02-11 08:50] NaraVen commented on #317
PVC volumes mounted by hostpath always have root as the owner. If the pod is started as a non-root user, it will not be able to able to access the Persisted Volume. Isn't that how AKS is designed @andyzhangx ?
the -o allow_other is for fuse. it won't change the PV access.
This should not work in Ubuntu either. If it is working then most likely the user in the container is root.

[2021-02-11 11:05] vojtechspacir commented on #317
I have CentOS7 based hosts. Since switching the hosts to Ubuntu, the problem disappear. Container hosted were a mix of base images.

[2021-02-16 11:14] dza89 opened #346 "use ACR to store helm charts"

[2021-02-16 11:16] dza89 opened #347 "Stop copy pasting code for each helm chart is you already use git tags"

[2021-02-18 20:04] sozercan commented on #214
I was investigating why this is happening, looks like `/usr/bin/ucf` is a script that has a `/bin/bash` shebang. However, debian-slim based image does not contain `bash` which is why it's failing.

This is already fixed upstream in debian sid - https://metadata.ftp-master.debian.org/changelogs//main/u/ucf/ucf_3.0043_changelog
[code]

But it's not available in buster package yet.
https://metadata.f

[2021-02-28 11:25] andyzhangx commented on #347
can you clarify on this? thanks.

[2021-02-28 13:15] dza89 commented on #347
The chart repo /folder does not contain just a tgz but also a folder with the code.

[2021-02-28 13:32] andyzhangx commented on #347
for an example, both `charts/v1.0.0/blob-csi-driver/*.yaml` and `charts/v1.0.0/blob-csi-driver-v1.0.0.tgz`  files are needed, yaml files are for maintenance, different version could have different file content, and and it's easy to check yaml config on every version in code revew, and tgz file is for helm installation. They are a little redundant while it's necessary.
e.g. if someone only adds one

[2021-02-28 13:33] andyzhangx commented on #347
and we already have tests to make sure tgz file are consistent with yaml configs

[2021-02-28 13:42] dza89 commented on #347
Yeah, so whenever you need the corresponding code, you do a git checkout <tag>...
Right now you are doing vc in vc.

[2021-02-28 13:51] andyzhangx commented on #347
keep `charts/latest/blob-csi-driver/*.yaml` in the repo is still necessary for code review

[2021-03-04 01:38] andyzhangx opened #357 "add e2e test to cover on-prem clusters"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could create a storage account and then use that account as secret in k8s cluster set up by `kind`

**Describe alternatives you've considered**

**Additional context**

[2021-03-04 08:07] doracharan opened #358 "Consume Azure blob using serviceprinciple"
Dear Team, it is working well by using either storage key or SAS token. However, by considering security, is it possible to mount blob using service principle?

[2021-03-04 08:16] andyzhangx commented on #358
here is the way to use service principle:
[code]

https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/driver-parameters.md#static-provisioningbring-your-own-storage-container

volumeAttributes.AzureStorageSPNClientID | SPN Client ID |   | No |  
-- | -- | -- | -- | --
volumeAttributes.AzureStorageSPNTenantID | SPN Tenant ID |   | No

but is that more secure?

[2021-03-04 11:54] doracharan commented on #358
Thank you for your prompt response @andyzhangx. I have followed the steps, both PV and PVC are created successfully with service principle. But, while deploying the pod is in containercreating and got below events for the pod.

  Warning  FailedMount  6m41s                  kubelet            MountVolume.MountDevice failed for volume "pv-blob-sp" : rpc error: code = DeadlineExceeded desc = context

[2021-03-04 12:48] andyzhangx commented on #358
`given Volume ID unique-handler already exists` are you create two PVs with same `unique-handler` volumeHandle?

[2021-03-04 13:19] doracharan commented on #358
no. volumeHandle is set to unique value.

[2021-03-04 13:27] andyzhangx commented on #358
could you try get blob node logs? https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed, thanks.

[2021-03-04 14:39] doracharan commented on #358
The below mandatory attribute was missing from pv. after adding it, started working fine.

volumeAttributes.storageAccount

Thank you @andyzhangx  for your prompt responses on this.

[2021-03-04 23:13] ams0 commented on #266
I still can't make this work. I have a statically provisioned blob in a storage account (different RG than AKS). AKS uses MSI but I want to use my own SP to access the blob. I create an `azure.json`:

[code]

[code]

Turn the azure.json into a secret called `azure-cloud-provider` in `kube-system`. Deploy CSI blob with:

[code]

I see that it gets the secret:

[code]

But both the controller and th

[2021-03-05 03:28] andyzhangx commented on #266
could you paste full logs of `csi-blob-node-xx` and `csi-blob-controller-xx`, it seems working since it's using credentials from your secret. @ams0

[2021-03-09 13:39] dza89 commented on #347
I'm just gonna close this issue, as this discussion will have no end.
It just strange to me that an Microsoft 'owned' repository adheres to some really bad practices when it comes to code and git.

[2021-03-09 13:39] #347 closed

[2021-03-10 09:57] wasfree opened #361 "Helm chart label revision cause pod restarts on Helm upgrade"
**What happened**:
It seems the helm chart to deploy blob-csi-driver has simular issues than https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/121 .Every time we run our CI/CD pipeline it's triggering a redeployment with container restarts.

It always try to set the revision to `1` (helm diff):
[code]

**What you expected to happen**:
No changes which cause recreation of pods

[2021-03-16 07:58] wasfree commented on #361
Fixed

[2021-03-16 07:58] #361 closed

[2021-03-17 03:19] onepos-zaika commented on #289
Finally,  according to MS support team, the detail of the cause is:
1. “mlocation” is a built-in service and is working as a search tool to search file with a given name in a quick manner. It maintains a database with all files’ index.

2. “mlocation” is added under /etc/cron.daily to run on daily basis and it triggers updatedb to scan every directory on the server to rebuild index of files in dat

[2021-03-18 11:06] arnaud-tincelin opened #370 "Accessing big files using CSI blobfuse"
Hello,

I am trying to access big files from a pod. This pod has a PV mounted with blobfuse. It is working fine with small files.
However, since the mounted blobfuse disk is always at 16Gb of storage in the pod (not matter what the PVC storage capacity is), accessing files >16Gb always fails (the disk is at 100% use and the head command ends up in error: `head: cannot open '/mnt/proj200data/21g.zi

[2021-03-18 11:22] andyzhangx commented on #370
you need to change node daemonset deployment, set as `/mnt/fuse-cache`

https://github.com/kubernetes-sigs/blob-csi-driver/blob/850103f1266805a9ce4f9a2ff2ee4e42c39c56f8/deploy/csi-blob-node.yaml#L160-L162

[2021-03-23 00:33] andyzhangx commented on #370
@arnaud-tincelin does NFSv3 solve this issue?

[2021-03-23 08:54] arnaud-tincelin commented on #370
For the mount part yes, however since we can't use the API with NFSv3 this is not usable for our use case: we would like to open from the file system files up to 1Tb that are moved in the storage using the API.

I think our only option is blobfuse with a bigger node size if we want to do that.

[2021-03-27 02:22] jabbera opened #371 "Support cross subscription storage accounts."
**Is your feature request related to a problem?/Why is this needed**
We have a pre-existing adls gen 2 account in a different subscription we would LOVE to mount into our aks jupyterhub cluster. Sadly we cannot easily because cross subscription Storage accounts are not supported.

**Describe the solution you'd like in detail**
I'd like cross subscription storage accounts to be supported.

**Descri

[2021-04-02 18:58] LouisJULIEN opened #373 "Chown/chmod have no effect on mounted folders and files"
**What happened**:
I installed blob-csi-driver as a replacement of [blobfuse](https://github.com/Azure/kubernetes-volume-drivers/blob/master/flexvolume/blobfuse/README.md) on my kubernetes server. I use it to mount a blob storage container on a [SFTP](https://hub.docker.com/r/emberstack/sftp) pod. The files and folders are mounted correctly inside the pod. I can create/edit/delete them from inside

[2021-04-03 15:09] andyzhangx commented on #373
related to https://github.com/Azure/azure-storage-fuse/issues/496#issuecomment-704652780

[2021-04-03 15:36] andyzhangx commented on #371
I think you could bring your own storage account key, here is an example:

 - store account key as k8s secret
[code]
 - set up a storage class with that secret
https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/storageclass-blob-secret.yaml

[2021-04-03 15:59] jabbera commented on #371
I'll try but in this example it's explicitly called out as not supported: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/e2e_usage.md#option1-use-storage-class

[2021-04-04 02:20] andyzhangx commented on #371
jus try my provided example: `bring your own storage account key`, it's not documented yet, should work in your scenario

[2021-04-04 11:10] jabbera commented on #371
Will do! This is exciting news.

[2021-04-05 13:57] #358 closed

[2021-04-06 09:03] LouisJULIEN commented on #373
Thanks you @andyzhangx for your quick answer. It's indeed fuse level setting.
I used the example [here](https://github.com/kubernetes-sigs/blob-csi-driver/blob/7d9775774cbfe191368038f1127219363a012851/deploy/example/storageclass-blobfuse-existing-container.yaml) to add the following mountOptions
`  - -o allow_other`
Thank you again

[2021-04-06 09:03] #373 closed

[2021-04-12 01:42] jabbera commented on #371
This works but doesn't work with a SasToken or any sort of service principal. This also makes me sad I really only want to give out reader. I can enforce it through mounts but giving out the account key to my entire data lake makes my skin crawl. Do you have any other suggestions aside from enhancing the driver?

[2021-04-12 02:01] andyzhangx commented on #371
sastoken should also be supported in cross subscription scenario, try below command to store sastoken instead:
[code]

while service principal does not work in cross subscription scenario now.

[2021-04-12 02:06] jabbera commented on #371
@andyzhangx I tried. It did not work:

Look like getStorageAccount doesn't account for a sastoken param: https://github.com/kubernetes-sigs/blob-csi-driver/blob/05fc802d634e6f5f88073c892a19ab605a2647a3/pkg/blob/blob.go#L440
[code]

[2021-04-12 03:01] andyzhangx commented on #371
try with static provisioning example:
 - https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/driver-parameters.md#static-provisioningbring-your-own-storage-container
 - https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/pv-blobfuse-auth.yaml

[2021-04-12 05:17] jabbera commented on #371
This worked! Many thanks.

[2021-04-12 05:17] #371 closed

[2021-04-12 09:41] #276 closed

[2021-04-12 09:41] #277 closed

[2021-04-12 09:41] #275 closed

[2021-04-19 07:07] andyzhangx opened #382 "add tmp-path parameter in chart config"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently it's hardcoded as `/mnt` now:

https://github.com/kubernetes-sigs/blob-csi-driver/blob/b45f400f3778b79c669faa1a70ff1337fefa9562/charts/latest/blob-csi-driver/templates/csi-blob-node.yaml#L173-L175

**Describe alternatives you've considered**

**Additional context**

[2021-04-21 08:14] #382 closed

[2021-04-22 00:18] aravsun opened #387 "FailedAttachVolume AttachVolume.FindAttachablePluginBySpec failed for volume "podname""
I see this error in the kubehealth logs and every time this is happening the pods become unresponsive leading to the service going down. Can you please investigate. thanks a lot.

[2021-04-22 01:13] andyzhangx commented on #387
is this related to blob csi driver? This driver actually won't need attach volume, could you provide more details?

[2021-04-23 09:59] rhummelmose commented on #115
I get this issue when upgrading a cluster. Rebooting the nodes afterwards seem to resolve the issue.

[2021-04-23 10:19] rhummelmose commented on #115
Too soon, it stopped working again I think it probably didn't successfully mount.

[2021-04-23 18:51] rhummelmose opened #388 "Blobfuse loses connection on 1.20.x"
**What happened**:
I upgraded my cluster to 1.20.5. After ~10 minutes the blob mounts are no longer connected and a node reboot or similar is required to remount. After ~10 more minutes the problem repeats itself
I tested also with 1.20.2 and observed the same problem.
I tested with 1.19.9 and it does NOT have the problem.

**What you expected to happen**:
That it stays connected.

**How to reprod

[2021-04-23 22:41] rhummelmose commented on #388
Update: Also happens on 1.19.9. Now I've moved to a new cluster, waiting to see whether that resolves the problem.

[2021-04-24 06:27] rhummelmose commented on #388
Update: Nothing seems to be going wrong on a new cluster. Question arises, what can cause this issue?

[2021-04-24 13:11] andyzhangx opened #391 "create blobfuse-proxy package on redhat/centos package"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently it only supports debian OS now.
https://github.com/kubernetes-sigs/blob-csi-driver/tree/master/pkg/blobfuse-proxy

**Describe alternatives you've considered**

**Additional context**

cc @boddumanohar

[2021-04-24 13:13] andyzhangx opened #392 "collect blobfuse-proxy logs in e2e testing"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently we can get blobfuse-proxy logs on the agent node by:
[code]

**Describe alternatives you've considered**

**Additional context**

cc @boddumanohar

[2021-04-24 19:04] boddumanohar commented on #392
/assign

[2021-04-24 19:07] boddumanohar commented on #391
/assign

[2021-04-25 11:57] andyzhangx commented on #214
not fixed

[2021-04-29 02:24] ZeroMagic commented on #284
/remove-lifecycle stale

[2021-04-29 02:30] andyzhangx commented on #284
azure.json is not a dependency for both controller and node servers now.

[2021-04-29 02:30] #284 closed

[2021-04-30 06:25] rhummelmose commented on #388
No issue observed now on a new cluster after a week.

[2021-04-30 14:37] Raffo opened #406 "`ClusterRoles` and `ClusterRoleBindings` wrongly contain the `namespace` in the `metadata` section"
**What happened**:

Some [ClusterRoleBindings](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/charts/latest/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml#L62) and `ClusterRoles` contain a `namespace` in the metadata section. This is "invalid" as the resources are **not** namespaced as mentioned in the documentation https://kubernetes.io/docs/reference/access

[2021-05-01 08:25] andyzhangx commented on #392
fixed

[2021-05-01 08:25] #392 closed

[2021-05-01 09:20] #406 closed

[2021-05-01 11:13] boddumanohar commented on #388
Hi @rhummelmose, were you blobfuse-proxy or the normal driver based mount?

[2021-05-01 14:34] andyzhangx commented on #388
they are not using blobfuse-proxy, this issue is more like blobfuse issue itself

[2021-05-03 08:33] rhummelmose commented on #388
Yes as @andyzhangx stated, no proxy

[2021-05-04 03:11] andyzhangx commented on #289
This issue is fixed by v1.1.0 release on blobfuse 1.3.7, using `cancel-list-on-mount-seconds=60`
https://github.com/kubernetes-sigs/blob-csi-driver/blob/35a5226ba468c0159247cfb69581aa4f2471f298/deploy/example/storageclass-blobfuse.yaml#L15

[code]

[2021-05-05 02:10] bbearce opened #413 "Can't follow tutorial to get a blob container to mount"
**What happened**:
Followed tutorial at this exact link: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/e2e_usage.md

**What you expected to happen**:
Under section "Static Provisioning(use an existing storage account)" there are two options:

[1] Using storage class
[2] Use secret

I've tried both and the nginx demo deploy never creates let alone mounts the azure bl

[2021-05-05 03:24] andyzhangx commented on #413
I think the error is because you already have a pv with `volumeHandle: uniqe-volumeid`, make sure this volumeid is unique in the cluster

[2021-05-05 03:56] bbearce commented on #413
I have this for pv\pvc:

[code]

So only these two pairs and I believe they are freshly made within the last two hours. I deleted them and recreated with new ```volumeHandle: uniqe-volumeid-new```.

My new pv\pvc statuses:
[code]

Could there be pv\pvcs I can't see? I read that unlike namespaced objects that pv\pvc\sc objects are available to the whole cluster, so when I run ```kubectl get pv``` o

[2021-05-05 04:02] andyzhangx commented on #413
the error `attachdetach-controller  AttachVolume.Attach failed for volume "pv-blob" : attachdetachment timeout for volume uniqe-volumeid-new` is returned by kube-controller-manager, is that component working?

I think you could try dynamic provisioning for narrow down, I doubt that won't work either.

[2021-05-05 04:09] bbearce commented on #413
Silly question perhaps, but when I run ``` kube-controller-manager``` I get this:

[code]

Should this come with the cluster by default? It sounds like something that must already be running and would be an integral part of the system. I can easily install it and am about to, but it strikes me as odd that I wouldn't have it already. I am installling now, but want to check assumptions as a control

[2021-05-05 04:13] andyzhangx commented on #413
`kube-controller-manager` should be installed with cluster, run `kubectl get po --all-namespaces | grep controller-manager` to check

[2021-05-05 04:18] bbearce commented on #413
[code]

I am concerned this returned nothing as when I installed I got this:
[code]

Thoughts? By the way, thanks a ton for helping! this means a lot. Is there a chance what I installed is some local client version for monitoring?

BTW without "grep" I get this for that command:

[code]

[2021-05-06 07:19] andyzhangx commented on #115
using use blobfuse-proxy could mitigate this issue:

 - install `blobfuse-proxy` on debian based agent node(below daemonset would also install latest blobfuse version)
[code]

 - install blobfuse driver with `node.enableBlobfuseProxy=true` setting
[code]

[2021-05-06 07:19] #115 closed

[2021-05-06 13:07] andyzhangx commented on #391
fixed

[2021-05-06 13:07] #391 closed

[2021-05-07 23:49] stobias123 opened #418 "Allow PVC to choose container name."
**Is your feature request related to a problem?/Why is this needed**
I'd like to be able to set the container name via the `PersistentVolumeClaim`. `PersistentVolumes` are cluster scoped, and I don't want to delegate access to them to my end users.

**Describe the solution you'd like in detail**
Allow setting the container name from PVC creation.

**Describe alternatives you've considered**
Static

[2021-05-08 03:39] andyzhangx commented on #418
`PersistentVolumeClaim` does not support customized parameter, you can use `PersistentVolume` or storage class to specify `containerName`, they are both cluster scoped

[2021-05-09 01:10] stobias123 commented on #418
Could this not be accomplished via annotations on the PVC?

Netapp does something similar with their volume driver plugin.

https://netapp-trident.readthedocs.io/en/stable-v18.07/kubernetes/concepts/objects.html#kubernetes-persistentvolumeclaim-objects

[2021-05-12 20:35] goldenpine opened #423 "Deleting a folder can't complete and the command is hung"
**What happened**:
After mounting a ADLS gen2 container in a POD on AKS, we create a test/ folder, and touch a file test/dummy.txt. Then run command "rm -r test". The command is hung, and the pod doesn't respond. From Azure Portal, we can see dummy.txt is gone, but the folder test/ is still there.

**What you expected to happen**:
Remove a folder can work promptly.

**How to reproduce it**:

After

[2021-05-13 03:52] andyzhangx commented on #423
does `test` dir exist inside pod?

[2021-05-13 16:18] goldenpine commented on #423
@andyzhangx thanks for taking a look. The test dir was created on pod under the mounted folder /mnt/prueba-csi by mkdir command. May I know what you mean by saying ' exist inside pod'?
Also did the below test, on Azure portal, under the blob container, customer01, click 'Add Directory', and create a dir named folderCreatedOnPortal. Then go to the pod again. The newly created folder shows up in the

[2021-05-15 04:09] #285 closed

[2021-05-20 11:35] doracharan commented on #358
@andyzhangx : Just wanted to confirm, Does Blob Mount works if a storage account and AKS clusters are in two different subscriptions??  I read from one of your comments that "attach an azure disk from another subs is not even supported by azure disk feature". is it the same case with Blob mount??/

[2021-05-20 11:46] doracharan commented on #358
PV and PVC are created successfully. while deploying pod it is in creatingcontainer state. while describing the pod it gives "Unable to start blobfuse due to a lack of credentials".

Complete Error: MountVolume.MountDevice failed for volume "test-pv" : rpc error: code = Unknown desc = Mount failed with error: exit status 255, output: Unable to start blobfuse due to a lack of credentials. Please ch

[2021-05-20 11:48] andyzhangx commented on #358
@doracharan it's supported, refer to https://github.com/kubernetes-sigs/blob-csi-driver#option2-bring-your-own-storage-account

[2021-05-20 13:08] doracharan commented on #358
@andyzhangx : Thank you for your response. In the above mentioned documnet under Option#1: Use storage class yaml next to   storageAccount it is mentioned that  # cross subscription is not supported.

[2021-05-20 13:11] andyzhangx commented on #358
@doracharan `bring-your-own-storage-account` supports cross subscription and even on-premise

[2021-05-20 13:14] doracharan commented on #358
@andyzhangx: it's bit confusing for me. however i have tried with Service principle both PV and PVC are created successfully showing Bound and no events. But, while deploying pod it is in creatingcontainer state. So, described the pod and it says "Unable to start blobfuse due to a lack of credentials".

Complete Error: MountVolume.MountDevice failed for volume "test-pv" : rpc error: code = Unknown

[2021-05-20 13:35] andyzhangx commented on #358
@doracharan are you creating PV by yourself? If you use static provisioning, set up PV/PVC by your own, actually Service principle is not used, anyway, PVC would be in Bound state. May share detailed config.

[2021-05-20 13:48] doracharan commented on #358
@andyzhangx: Yes i am creating static PV and then created PVC.

kubectl create secret generic storageblob-secret --from-literal azurestoragespnclientsecret="xxx" --type=Opaque

persistent volume manifest
===================

apiVersion: v1
kind: PersistentVolume
metadata:
  name: test-pv
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain

[2021-05-20 13:56] andyzhangx commented on #358
try set `AzureStorageAuthType: key`, someone else hit the same issue before

[2021-05-20 14:15] doracharan commented on #358
Yes. Initial i didn't set this because by default value is Key. Later, once i got the error set AzureStorageAuthType: SPN explicitly.

[2021-05-20 14:18] andyzhangx commented on #358
@doracharan so it works now?

[2021-05-21 05:55] doracharan commented on #358
@andyzhangx: No, still getting same error.

[2021-05-21 07:23] andyzhangx commented on #358
could you get the mount error msg, follow guide here: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

This is the working PV config someone else is using:
![image](https://user-images.githubusercontent.com/4178417/119098478-76e40a00-ba48-11eb-8503-596ac695a66c.png)

[2021-05-24 06:43] andyzhangx opened #440 "External Storage [Driver: blob.csi.azure.com] [Testpattern: Dynamic PV (default fs)] volumes [Measurement] should allow exec of files on the volume"
**What happened**:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_blob-csi-driver/439/pull-blob-csi-driver-external-e2e/1396690840541204480/build-log.txt

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/o

[2021-05-25 14:15] andyzhangx commented on #418
pvc annotation can be passed to in-tree driver, while it's not supported by current CSI interface, detailed discussion: https://github.com/kubernetes-csi/external-provisioner/issues/86#issuecomment-465836185

[2021-05-25 14:20] andyzhangx commented on #423
The [example](https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/statefulset.yaml) works well, no hung issue:

[code]

[2021-05-25 14:21] andyzhangx commented on #413
issue resolved?

[2021-05-25 17:35] stobias123 commented on #418
closing per above CSI limitations.

[2021-05-25 17:35] #418 closed

[2021-05-26 12:06] jkldrr opened #444 "Mount fails with existing storage container, when sticking to example"
**What happened**:
When sticking with the provided example: PersistentVolume --> PeristentVolumeClaim --> Mount in Pod
the mount is failing with csi blob node error:

[code]

**What you expected to happen**:
Container is successfully mounted.

**How to reproduce it**:
PV:
[code]
PVC:
[code]
POD:
[code]

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: 1.1.0
- Kubernetes

[2021-05-26 12:12] andyzhangx commented on #444
error said `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/mongo-pv/globalmount` is already mounted, why is that dir mounted before? can you provide full driver node logs on that node?

[2021-05-26 12:23] jkldrr commented on #444
I am also wondering why that dir is mounted before, we currently mount 2 container in two different pods.
[code]

[2021-05-26 12:30] andyzhangx commented on #444
not sure whether `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/mongo-pv/globalmount` mounted before, you may change pv name `mongo-pv` to `mongo-pv2` to have a try?

[2021-05-26 12:36] jkldrr commented on #444
Okay, that worked. Does that mean that something was hanging in the mongo-pv dir?
And how can we prevent something like that from happening again?

[2021-05-26 12:39] andyzhangx commented on #444
I think `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/mongo-pv/globalmount` was mounted before, and it's never unmounted. `v1.2.0` already supports inline volume, and you don't need to care about pv/pvc any more: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/e2e_usage.md#option3-inline-volume

[2021-05-26 12:42] jkldrr commented on #444
Thank you very much for the info, we will have a look into the update.

[2021-06-01 06:52] beaverdevtools opened #448 "Azure Blob NFS - storage account logs errors"
Hello,

I successfully mounted a NFS Blob PV/PVC on my AKS Cluster's containers.
My app uploaded many files to the storage and it works great.

Then I checked the storrage account logs, and noticed 80k+ error logs related to the **nfs3lookup** action during my app's import period.
![image](https://user-images.githubusercontent.com/54035020/120278924-25dcdd00-c2b6-11eb-9a74-b2f52cdd7462.png)

Do I

[2021-06-02 01:46] andyzhangx commented on #448
quote from blob nfs team:
[code]

[2021-06-02 04:10] beaverdevtools commented on #448
Thanks ! Mystery solved.

[2021-06-02 04:10] #448 closed

[2021-06-08 05:50] DewinGoh opened #449 "PVC unable to claim blob storage container but able to claim ADLS Gen 2 filesystem"
**What happened**:
We created two separate Storage accounts - one with HNS enabled and the other without, and created a container in both SAs. We then deployed storageClasses via the helm chart (dynamic way) for both containers. Then, we created PVCs as per the following settings:
[code]
what happened was that the PVC claim worked for the HNS SA's container (filesystem), but the PVC was unable to

[2021-06-08 07:30] andyzhangx commented on #449
what's the `mystorageclass` storage class config?

[2021-06-08 08:37] DewinGoh commented on #449
we leave it as the default (i.e. filesystem), if that's what you're asking. The above configuration is what we apply.

[2021-06-08 09:07] andyzhangx commented on #449
@DewinGoh it's better provide detailed config of `mystorageclass` storage class by `kubectl get sc mystorageclass -o yaml`
if storage account type is `Standard_LRS`, account kind should be `KindStorageV2`; if storage account type is `Premium_LRS`, account kind should be `BlockBlobStorage`

[2021-06-08 09:19] bartwitkowski opened #450 "Mount failed with error: exit status 255, output: Unable to start blobfuse due to a lack of credentials"
Hi,
I use static creation of PV/PVC. Using Access Key mounting works but using SAS Tokens (with KV) it doesn't. Could you point me what I did wrong?
I've got the following error:

I0608 08:32:07.484612       1 utils.go:115] GRPC request: {"staging_target_path":"/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pv-blob-test/globalmount","volume_capability":{"AccessType":{"Mount":{}},"access_mode":{"mod

[2021-06-08 09:49] bartwitkowski commented on #450
At first I tried without this option - no success.

[2021-06-08 10:02] andyzhangx commented on #450
if `AzureStorageAuthType: SAS` is specified, should create a secret like this:
[code]

The correct config format should be:
[code]

Pls provide node driver logs if that does not work.

[2021-06-08 10:22] bartwitkowski commented on #450
It doesn't work.
Using config:
[code]

Logs from csi-blob-node:

W0608 10:13:26.908021       1 blob.go:218] parsing volumeID(uniqe-volumeid-test2-blob-pv) return with error: error parsing volume id: "uniqe-volumeid-test2-blob-pv", should at least contain two #
I0608 10:13:26.908042       1 blob.go:263] volumeID(uniqe-volumeid-test2-blob-pv) authEnv: []
I0608 10:13:27.404208       1 nodeserver.go:2

[2021-06-08 12:00] andyzhangx commented on #450
have you stored the sas token as secret in `test-SasToken`?

[2021-06-09 11:28] bartwitkowski commented on #450
Yes, the sas token is in required KV as a secred.
With CSI blob v 1.1.0 I don't have such "lack of credentials" problem. But I have some others, that may be connected to K8s version - 1.16.10 which is not supported in 1.1.0 as I understand.

[2021-06-09 11:30] andyzhangx commented on #450
what's the error msg with v1.1.0?

[2021-06-09 13:33] bartwitkowski commented on #450
Well, the mounting process looks ok, logs are clean, BUT the /mnt/blob directory in the pod is empty. So actually the mounting failed. And when I want to remove the pod, in the csi-blob-node there is log: "device or resource busy"
Full log:

W0609 13:20:08.765488       1 blob.go:227] parsing volumeID(uniqe-volumeid-test2-blob-pv) return with error: error parsing volume id: "uniqe-volumeid-test2-bl

[2021-06-09 13:48] andyzhangx commented on #450
could you ssh to that node to check whether blobfuse mount succeeded:
[code]

Not sure why sas token does not work. What if you put a storage account key in key vault secret, does it work?

[2021-06-10 12:08] bartwitkowski commented on #450
Commands from csi-blob-node:

testa

And yes, file "testa" was created inside the nginx-blob container.
Command "mount | grep blobfuse | uniq" returns nothing - there is no blobfuse mount type.

Also, when I create a new nginx-blob container instance now I don't see the "testa" file inside.

Storage account key has worked previously.

[2021-06-11 02:28] andyzhangx opened #453 "read keyvault secret only supports service principal(managed identity does not work)"
**What happened**:
Should add managed identity support when reading keyvault secret

https://github.com/kubernetes-sigs/blob-csi-driver/blob/74aadf71fc9177f01bec115f0fc59e1098470deb/pkg/blob/azure.go#L156-L167

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e

[2021-06-11 10:09] bartwitkowski commented on #450
Further troubleshooting:
CSI blob v1.0.0 and v1.1.0 + storage access key works and i see blobfuse mount in the container:

CSI blob v.1.0.0 +  SAS token in KV log:

CSI blob v.1.1.0 +  SAS token in KV mounting looks ok but instead of blobfuse mount I see ext4 and the /mnt/blob direcotry is empty:

And I cannot gently delete the nginx-blob pod, csi-blob-node log:

All in the same AKS v 1.16.10

[2021-06-11 12:28] ErikLundJensen commented on #317
Maybe this should have been put into another issue, however, it is very related to the permission issue.

When mounting blob inline inside the pod spec then permissions on the folder is neither set. Example
drwxr-xr-x 1 root root  /blob

mountOptions in the volumeAttributes in CSIVolume inside pod spec is not read.
Example from Pod Spec:
[code]
nor giving an array as the CSIVolume accepts Strings

[2021-06-11 12:46] andyzhangx commented on #317
have you tried PV/PVC?

[2021-06-11 13:37] andyzhangx commented on #317
PV should work

[2021-06-11 14:52] ErikLundJensen commented on #317
I tried with PVC in pod, however, that just hangs and I get timed out events. So I tried the CSIVolume which mounted but only with root permissions.

When setting up with PVC and PV then I get this in the log from csi-blob-node pod, which looks fine:
[code]
Are there some specific requirements on the volumeID other than be unique and contain two # signs?

[2021-06-11 14:59] andyzhangx commented on #317
should not contain two # since your account name is not `sandbox`? just make sure volumeID is unique in one cluster.

[2021-06-12 15:08] #317 closed

[2021-06-16 08:33] bartwitkowski commented on #450
Hey,
Someone - any clues?
What should I check more?

[2021-06-16 08:49] andyzhangx commented on #450
is it possible to try store sas token in k8s secret, follow guide here:

[code]

https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/e2e_usage.md#option2-use-secret

there is a bug: [read keyvault secret only supports service principal(managed identity does not work) ](https://github.com/kubernetes-sigs/blob-csi-driver/issues/453), not sure whether it's related, what's yo

[2021-06-16 09:06] ErikLundJensen commented on #388
Has blob-csi-driver/blob-csi-driver v1.3.0 been tested at AKS 1.20.5 ?

The [pvc-blob-csi example](https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/pvc-blob-csi.yaml) works as expected, however, using an existing storageaccount in the [pv-blobfuse-csi example](https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/pv-blobfuse-csi.yaml) does not w

[2021-06-16 09:11] andyzhangx commented on #388
@ErikLundJensen there is e2e test on 1.20.x, could you provide more details about why it does not work, e.g. your app pod events, and also provide agent node driver logs by https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed, there should be `/NodeStageVolume` logs if there is mount error. thanks.

[2021-06-16 12:00] andyzhangx commented on #388
@ErikLundJensen you can also try inline volume directly, that's a little easier to configure: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/e2e_usage.md#option3-inline-volume

[2021-06-16 12:09] bartwitkowski commented on #450
OK, I'll try with SAS token in a secret and will get back to you,
And yes, we are using MSI.
I saw that bug, but even if it is the case, then the fix will be in the newest version of your driver which won't be compatible with AKS 1.16, right?

[2021-06-16 12:19] andyzhangx commented on #450
correct

[2021-06-16 15:10] ErikLundJensen commented on #388
The inline requires root privileges in the pod.
I have executed the e2e-test toward a 1.21-preview cluster and the yaml-driven testcases went fine as seen below.
However, the go-driven failed due to misconfiguration of AZURE_CLIENT_ID and AZURE_CLIENT_SECRET as my cluster is setup with MSI. I'll may have to run a new test towards a cluster without MSI.

Below is a list of the test that succeeded,

[2021-06-16 15:18] andyzhangx commented on #388
have you tried `mountOptions` in latest `v1.3.0` version?
[code]

[2021-06-16 16:27] bryanasdev000 commented on #317
@andyzhangx sorry for bumping this, but can you confirm something for me?

Purely following quick start I fail in the same situation, pods without root users fail to write/read data, I managed to successfully do everything manually, creating PV, PVC and pointing to the pods, but it's not interesting to me.

Isn't possible to keep this dynamic?

NOTE: I am mounting via FUSE on AKS.

[2021-06-17 02:52] andyzhangx commented on #317
release v1.3.0 has fixed this permission issue with inline volume: https://github.com/kubernetes-sigs/blob-csi-driver/releases/tag/v1.3.0, run following command, change `blob-csi:v1.4.0` would solve the issue(change to v1.4.0 since it's on latest master branch now, could make sure you have pulled the fixed image correctly)
[code]

[2021-06-17 03:02] bryanasdev000 commented on #317
Thanks for answering :)

It's late here, and I've destroyed my test cluster, but I'll try to deploy from the master tomorrow.

Maybe I'm in a more specific case, making changes to the deployment directly would be impractical because it is managed by an operator, however, I'll check if I can do some overwrite to take care of that.

The doc raised a question, is inline mode only available for SMB?

[2021-06-17 03:05] andyzhangx commented on #317
thanks, I have fixed the doc:
[code]

[2021-06-17 03:11] bryanasdev000 commented on #317
Nice!

@andyzhangx  is it possible to pass the above options directly to the driver and leave it as default?

[2021-06-17 03:14] andyzhangx commented on #317
let user pass `-o allow_other` options should be more flexible, not sure whether everyone wants `-o allow_other` options

[2021-06-17 03:37] bryanasdev000 commented on #317
Yes, I understand.

As I said, in my case it should be what I need, as it would take away the "complexity" of choosing, defining the necessary options and patching the operator's deployment.

Tomorrow I will test if I can do this directly through the driver.

The less I have to "manually" intervene the better :)

For context, I'm using this setup for the Postgres Operator from Crunchydata, but spe

[2021-06-17 13:56] ErikLundJensen commented on #388
Specifying the mountOptions in an inline volume specification in a Deployment does not change the folder permissions. It is still 755
[code]

[2021-06-17 14:51] #453 closed

[2021-06-18 07:29] andyzhangx commented on #388
I have tried on my local dev with inline volume on `v1.3.0` version, it works well:
[code]

pls run `kubectl edit ds csi-blob-node -n kube-system` to set as `mcr.microsoft.com/k8s/csi/blob-csi:v1.4.0` to make sure latest image is pulled.

[2021-06-18 07:32] andyzhangx commented on #388
btw, if mountOptions is not set, the default permission is 0770:
[code]

[2021-06-19 03:42] #137 closed

[2021-06-19 07:53] andyzhangx commented on #450
I have successfully run a pod with blobfuse mount reading from SAS token in keyvault secret, I think the original issue is due to this bug(https://github.com/kubernetes-sigs/blob-csi-driver/issues/453), it's only fixed in master branch(require k8s 1.18 version). One tricky thing I hit is that if SAS token is expired(or invalid, in my case it's expired), blobfuse mount would also return success, an

[2021-06-22 12:09] #450 closed

[2021-06-23 12:05] ezYakaEagle442 opened #464 "Add end to end tests with ARO"
Azure RedHat OpenShift uses CoreOS and is a first-party service in Azure.
The CSI drivers pre-req and examples must be not only cleared documented but also tested through end to end tests

see also :

- [https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/898](https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/898)
- [https://github.com/kubernetes-sigs/azurefile-csi-driver/i

[2021-06-23 12:07] ezYakaEagle442 opened #465 "Add end to end tests with Mariner"
see also [https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/899](https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/899)

@andyzhangx

[2021-07-05 13:58] #339 closed

[2021-07-05 13:58] #340 closed

[2021-07-15 22:13] yanrez opened #473 "Windows container support for blob-csi-driver"
Is there a plan to enable volume mounting of azure blob storage for Windows-based nodes?
Going through the documentation and implementation, it seems to be Linux only.

[2021-07-16 07:58] yuyue9284 opened #474 "Pod Stuck at Terminating"
**What happened**:
Pod stuck at terminating, the kubelet shows log like this

Blob driver log:

findmnt shows that it is a bind mount:

**What you expected to happen**:
The tear down should succeed.

**How to reproduce it**:
Not able to find a way to reproduce it. It is a cluster in our pipeline and every 1 or 2 days, you can find some pod stuck at terminating.

**Anything else we need to know?**:

[2021-07-16 12:39] #474 closed

[2021-07-16 15:16] andyzhangx commented on #473
there is no plan to support windows for this driver since this driver is based on blobfuse and NFSv3 client, neither of them supports windows.

[2021-07-16 15:54] yanrez commented on #473
My understanding was that windows client supports NFS, although I see azure blob docs refer to Linux support for some reason.
Can you elaborate on NFSv3 gap if possible - is it lack of some specific feature?
Here is public article describing mounting blob on Windows using NFS
https://www.wintellect.com/using-nfs-with-azure-blob-storage/

[2021-07-17 00:07] andyzhangx commented on #473
there are some work to do in k8s https://github.com/kubernetes-csi/csi-proxy to support NFSv3 on Windows.
cc @jingxu97

[2021-07-17 01:05] #346 closed

[2021-07-22 08:35] andyzhangx commented on #289
`--cancel-list-on-mount-seconds=60` is already set as default in v1.4.0 which could preventhuge storage account list.

[2021-07-27 22:00] sozercan commented on #214
/remove-lifecycle stale

[2021-08-01 03:27] #357 closed

[2021-08-03 03:58] yuyue9284 opened #483 "Mount failed due to operation with the given volume ID already exists"
**What happened**:

PVCs mount fail due to `rpc error: code = Aborted desc = An operation     with the given Volume ID default-jstestblob-azureml-csi already exists.`

**What you expected to happen**:
Pod should mount volume and start to run.

**How to reproduce it**:
Seem to be node related, some nodes have this problem while some does not.

**Anything else we need to know?**:
The node driver blo

[2021-08-04 01:54] yuyue9284 commented on #483
Seems to be related to the storage account, the storage account service is in bad state at that time, after the service account service back online, the issue mitigates.

[2021-08-04 01:54] #483 closed

[2021-08-11 03:14] onepos-zaika commented on #289
Hello! @andyzhangx
We always have the daemonset in place so we did not notice the problem. However recently, one of the nodes in our cluster refused to run the pod specified by the daemonset for a few days and then high traffic occurred during that days. So I can confirm the daemonset is still required in the current version...

![Screenshot 2021-08-11 111148](https://user-images.githubusercontent

[2021-08-11 03:20] NaraVen commented on #289
Hi @onepos-zaika , you need that config to remove both the mount dir and the temp dir from mlocation scan. @andyzhangx , onepos-zaika had 2 reasons for high billing, the first reason was during mount which your csi driver address in 1.4.0 The second reason is the mlocation service which keeps previously cached files in memory and unnecesarily scans them for safety. This service is a security softw

[2021-08-11 16:44] NaraVen commented on #289
@andyzhangx , It is "mlocate". It should be under /etc/cron.daily

[2021-08-12 01:05] andyzhangx commented on #289
@NaraVen is there a way to change the excluding scanning list in mlocate manually

[2021-08-13 11:53] SiarheiBortnik commented on #423
We have the same issue. I can not delete folder which are created inside our POD inside mounted folder from Azure Data Lake Gen 2.
We are using AKS 1.20.7 version.
Blob CSI driver version 1.4.0 installed by helm (v1.1.0 works the same).
I can delete files without any problems, but folders could not be deleted by rm command. But in Azure UI I can make all operations.
Is it any updates regarding thi

[2021-08-13 14:01] andyzhangx commented on #423
@SiarheiBortnik  could you use the example [here](https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/statefulset.yaml), and then use steps [here](https://github.com/kubernetes-sigs/blob-csi-driver/issues/423#issuecomment-847911511), paste the testing result. I am not sure whether it's related to Azure Data Lake Gen 2 account.

[2021-08-13 14:16] andyzhangx commented on #423
I see what happened, should add `--use-adls=true` option for adls gen 2 account(`Hierarchical namespace` enabled), details: https://github.com/Azure/azure-storage-fuse/issues/524#issuecomment-728759718

- example
[code]

[2021-08-13 14:22] andyzhangx opened #487 "support ADSL Gen2 account creation by the driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2021-08-13 14:41] SiarheiBortnik commented on #423
Your advice helped me,  with - --use-adls=true in storageclass removing procedure works without any problems. Thank you
Andy Zhang!

[2021-08-13 14:42] #423 closed

[2021-08-14 12:44] #487 closed

[2021-08-16 15:39] jchauncey commented on #214
any update here?

[2021-08-16 15:40] andyzhangx commented on #214
is this a blocking issue?

[2021-08-16 15:41] jchauncey commented on #214
Ill DM you on teams about it.

[2021-08-17 07:42] cornel-masson opened #491 "CSI blob node CrashLoopBackOff"
**What happened**:

After install, I see two controller pods, one running, another pending, and the node pod stuck in CrashLoopBackoff. Logs attached.

**What you expected to happen**:

I was expecting one controller and one node pod, both Running, with no errors in the logs.

**How to reproduce it**:

I followed the instructions for [install latest version](https://github.com/kubernetes-sigs/blob

[2021-08-17 07:44] andyzhangx commented on #491
can you `kubectl describe po csi-blob-node-49nxt -n kube-system`?

[2021-08-17 07:50] cornel-masson commented on #491
[describe-csi-blob-node.txt](https://github.com/kubernetes-sigs/blob-csi-driver/files/6998016/describe-csi-blob-node.txt)

[2021-08-17 08:06] andyzhangx commented on #491
[code]

where is your kubelet path? this driver depends on `/var/lib/kubelet/` kubelet dir.

[2021-08-17 08:08] andyzhangx commented on #491
you could configure `--set linux.kubelet=xx` in helm chart to specify another kubelet path

[2021-08-17 08:35] cornel-masson commented on #491
kubelet directory:
`drwx------  5 root      root      4096 Aug 16 10:07 kubelet`
[code]

[2021-08-17 08:47] andyzhangx commented on #491
would you try `v1.4.0` instead?

[2021-08-17 09:10] cornel-masson commented on #491
OK, progress! With v1.4.0 the node pod works, but I'm still seeing a 2nd controller pod Pending, with events as follows:

`Type     Reason            Age    From               Message
  ----     ------            ----   ----               -------
  Warning  FailedScheduling  2m35s  default-scheduler  0/1 nodes are available: 1 node(s) didn't have free ports for the requested pod ports.`

BTW: why

[2021-08-17 12:13] andyzhangx commented on #491
that's expected since you only have one node, once you have more nodes, those pods would be in Running state

[2021-08-17 12:16] cornel-masson opened #493 "PersistentVolumeClaim: azure: base storage service url required"
**What happened**:
My PersistentVolumeClaim for the blob storage class reports error: "Unknown desc = azure: base storage service url required" on startup.

**What you expected to happen**:
Mount blobfuse correctly to Azure storage account.

**How to reproduce it**:
- Install CSI driver.
- Set k8s default namespace to my app: s3analytics
- Create Azure storage account secret "**azure-secret-csi**"

[2021-08-17 12:19] andyzhangx commented on #493
pls follow this guide to provide azure credentials first: https://github.com/kubernetes-sigs/blob-csi-driver#prerequisites, otherwise it cannot provision any azure resource.

[2021-08-17 12:27] cornel-masson commented on #493
I followed:
- [Option2: Bring your own storage account](https://github.com/kubernetes-sigs/blob-csi-driver#option2-bring-your-own-storage-account), then...
- Dynamic Provisioning: again [Option2: Bring your own storage account](https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/e2e_usage.md#option2-bring-your-own-storage-account)...
- which led to me creating the secret

[2021-08-17 12:39] andyzhangx commented on #493
you still need to define a basic cloud config file with `/etc/kubernetes/azure.json` on the node, and then restart controller and node, e.g.
[code]

[2021-08-17 13:58] #491 closed

[2021-08-18 01:11] #493 closed

[2021-08-18 03:27] andyzhangx commented on #493
this issue was fixed on master branch now, you don't need to specify the above cloud config file any more.

[2021-08-18 07:02] cornel-masson commented on #493
I assume this will only be available in the next release? I had to downgrade from v1.5 to v1.4 (see https://github.com/kubernetes-sigs/blob-csi-driver/issues/491#issuecomment-900112728), so would the next release re-introduce the issue I had with v1.5?

[2021-08-18 07:16] andyzhangx commented on #493
no, both issues were resolved on mater branch

[2021-08-18 08:11] cornel-masson commented on #493
I get further with the new azure.json file, but now my pod reports this error from 'kubelet':

`MountVolume.MountDevice failed for volume "pvc-7e2ebda1-ba2a-4129-9a12-9daf1a520fa8" : kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name blob.csi.azure.com not found in the list of registered CSI drivers`

The driver (v1.4) is installed, though. Here is the output

[2021-08-18 08:15] andyzhangx commented on #493
that means your driver did not register with kubelet successfully.

[2021-08-18 08:44] cornel-masson commented on #493
Both the csidriver and daemonset is there. See csidriver in previous comment, daemonsets here:

![daemonset](https://user-images.githubusercontent.com/924819/129867311-012ea507-7908-46df-8010-1a6aba10ec86.png)

Is there anything else I can check?

[2021-08-18 08:50] andyzhangx commented on #493
sth. wrong with node-driver-registrar, register with path `/var/lib/kubelet/plugins_registry/`
https://github.com/kubernetes-csi/node-driver-registrar#required-permissions

[2021-08-18 10:21] cornel-masson commented on #493
I have `sudo chmod 777 /var/lib/kubelet/plugins_registry/`. The socket `blob.csi.azure.com-reg.sock` should now have full read, write and execute permissions. Still no difference.

[2021-08-18 10:23] cornel-masson commented on #493
Reminder: I have **two** _controller_ pods, one which is running fine, but the other is still Pending with error:

**1 node(s) didn't have free ports for the requested pod ports**

Why are there two controller pods, and is it a problem that one is stuck without a free port?

[2021-08-18 11:21] andyzhangx commented on #493
one controller already functions, two controller pods are for redundancy.

[2021-09-19 02:42] #387 closed

[2021-09-21 13:51] andyzhangx commented on #214
azure file Dockerfile is already using `debian-base:bullseye-v1.0.0`, so maybe it's already fixed?
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/d0bcaf51c17f32672f7135972d8860b5f57403d1/pkg/azurefileplugin/Dockerfile#L15-L21

[code]

[2021-09-21 15:19] jchauncey commented on #214
But that wont get rolled out until the next release right? Doesn't help existing images.

[2021-09-24 08:48] andyzhangx opened #520 "add cache-size-mb mount options in storage class example"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

[OPTIONAL] --cache-size-mb=1000 : option to setup the cache-size in MB. Default will be 80% of the available memory, eviction will happen beyond that. Use this option to lower the cache size or increase it. This option is only available after version 1.3.1.

**Describe alternatives

[2021-09-26 16:21] omer2500 commented on #370
Hi! @arnaud-tincelin

i have the same issue here but when im trying to upload a big file (27 GB)

did you solve this issue?

if yes can you share the pv and pvc files? that would be really helpful

i did everything you did and also what @andyzhangx added here
and still it is not working, the drive still shows the same amount of GB

Thanks

[2021-09-27 01:44] andyzhangx commented on #370
@NaraVen do you know how to handle 27GB file size? According to https://github.com/Azure/azure-storage-fuse/issues/435#issuecomment-658572963, it depends on cache size, if cache size is bigger than 27GB, it could upload a 27GB file, is that correct?

[2021-09-27 07:56] andyzhangx opened #521 "should change hostPath type to "" since some configs are not essential"
**What happened**:

https://github.com/kubernetes-sigs/blob-csi-driver/blob/37a36918e272aacb89aed973b05449c65ed1d385/deploy/csi-blob-node.yaml#L156-L158

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
-

[2021-09-27 08:09] NaraVen commented on #370
@arnaud-tincelin and @andyzhangx , if the available cache size > 27 GB, it should be able to download the file.

[2021-09-28 14:00] SiarheiBortnik opened #522 "Files and directories accessability using ADSL gen2 in AKS"
**What happened**:
Files and directories is not accessible time to time

**What you expected to happen**:
Files and directories should be available in POD imediatly after mounting blob container

**How to reproduce it**:
We are using storageclass, PVC and POD with this PVC as mount point:
[code]
And we have an issue in some PODs (of one deployment) time to time. For some POD with problem file init

[2021-09-28 14:07] andyzhangx commented on #522
@NaraVen any known issue with ADLS gen2 mount? customer is using following mount parameters:
[code]

[2021-09-28 15:16] NaraVen commented on #522
no known issues in blobfuse. The above sounds like a network issue. you should check the blobfuse driver logs to see if calls to storage are failing and capture the Http response status.

[2021-09-28 15:19] SiarheiBortnik commented on #522
I checked logs from all containers and there were no any errors there
[code]
Only messages about mounting\unmounting processes during PODs deployment.

[2021-09-28 15:50] NaraVen commented on #522
Could you turn debug on and then run the csi driver and pull the driver logs from the nodes. @andyzhangx , could you share the name of the blobfuse driver log. Is it blob-csi-driver.log?

[2021-09-29 01:07] andyzhangx commented on #522
@SiarheiBortnik just follow this guide to get `daemonset/csi-blob-node blob` logs: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed, blob csi driver would only do mount and unmount, I think the issue exists after mount happen. If mount failed, the pod would be not in Running state

[2021-09-29 07:51] SiarheiBortnik commented on #522
I redeployed Blob Csi driver with keys:
--version v1.4.0 --set controller.logLevel=7 --set node.logLevel=7
I suppose it is a debug mode.
@andyzhangx thank you for link!
Regarding your comments: I would say that we realy have problem with mounting the whole containers, but in this case I can not access the files because (as you mentioned) POD will not be in running state. Problem with file and fold

[2021-09-29 07:58] andyzhangx commented on #522
you could ssh to the node, and access blobfuse mount directly on the node

[2021-09-29 08:04] andyzhangx commented on #522
BTW, you need add `- log-level=LOG_DEBUG` mount option in storage class or existing PVs, then it would provide blobfuse debugging logs:
[code]

[2021-09-29 09:06] SiarheiBortnik commented on #522
I configured log level as you asked.
Then just for test I tried to mount another blob container in the same Azure Storage account to POD - and it works without any problem. Also I followed your advice using SSH. I checked what was mounted directly to nodes. And I found a=out the same errors on two nodes from three:
`root@aks-nonprod-24602595-vmss000001:/# df | grep pvc-b69454a2-2052-44b2-96f6-6f72

[2021-09-29 11:44] SiarheiBortnik commented on #522
During next few hours I found erorrs with `Transport endpoint is not connected` on all kubernetes nodes even with different blob container from the same Azure Storage account.
Restarting csi-blob-controller, csi-blob-nodes PODs and recreating PVCs with its PVs didn't help me. Meanwhile I had a lot of errors in
`kubectl logs daemonset/csi-blob-node -c blob -n blob-csi-driver`
[code]
I restarted AKS

[2021-09-29 12:12] SiarheiBortnik commented on #522
Problem appeared again after blob csi driver update and updating version of our application PODs.
I removed manually PV, PVC and Storageclass which are used for mounting blob container into the PODs.
Mounting works again.

[2021-09-30 06:58] omer2500 commented on #370
thanks for the answer

@andyzhangx  the issue for me is that im not able to add more storage so i could have more cache so i will able to download and upload files without issues

the mnt folder always stays 32gb no matter what i attached and where i config the cache dir

exactly like @arnaud-tincelin tried to do

[2021-09-30 06:58] SiarheiBortnik commented on #522
Yesterday I completly removed all applications which are use blob csi driver mounts, removed all PVs, PVCs and Storageclasses. And redeployed all PVs, PVCs and Storageclasses again. After it - all applications were deployed.
And about 16 hours I haven't got any errors here:
kubectl logs daemonset/csi-blob-node -c blob -n blob-csi-driver
But it should be mentioned that we didn't deploy any new vers

[2021-09-30 08:45] andyzhangx commented on #370
@omer2500 could you add a new node pool with a bigger vm size? e.g. `Standard_D8s_v3` has 64 GB temp disk size.

[2021-09-30 09:26] omer2500 commented on #370
@andyzhangx

it worked! i was not aware of that

but i think the download is still slow
when i try to process the file it takes time to download it i guess

any way is there any way to mount a volume instead of creating a new node pool with new machine which is more expensive and another thing to maintain?

sounds like a feature to me if possible

Thanks for the help!

[2021-09-30 13:25] andyzhangx commented on #370
@omer2500 I don't have other applicable option for this, while you could create new node pool and delete old node pool with smaller size, that could save cost.

[2021-10-01 11:56] andyzhangx commented on #522
there is one limitation that without blobfuse-proxy, restart csi-blobfuse-node daemonset would make current blobfuse mounts unavailable, not sure whether it's related, could you check when you hit `Transport endpoint is not connected`, whether blob csi  driver is restarted on that node? If yes, you should try configure with blobfuse-proxy: https://github.com/kubernetes-sigs/blob-csi-driver/tree/ma

[2021-10-02 00:24] #520 closed

[2021-10-04 09:48] SiarheiBortnik commented on #522
I tried to deploy blobfuxe proxy and blob csi driver with node.enableBlobfuseProxy=true parameter (it was redeployed)
Now I can not mount PVC with error in logs daemonset/csi-blob-node
[code]

[2021-10-04 10:52] SiarheiBortnik commented on #522
Just to summarize. @andyzhangx  your advice looks like very usefull to fix problem with mounting. I haven't got any problems during last days with mounting, possibly, because I did not restart any blob csi driver components. Additionally, just to check , before deploying blobfuse-proxy I recreated csi-blob-node PODs and after it - problem with mounting `Transport endpoint is not connected` appeare

[2021-10-04 11:46] andyzhangx commented on #522
@SiarheiBortnik this mount failure is due to latest blobfuse package install failed on agent node, already fixed by https://github.com/kubernetes-sigs/blob-csi-driver/pull/527, could you try latest blobfuse-proxy.yaml?
[code]

[2021-10-04 12:21] SiarheiBortnik commented on #522
I used it. I just applied this template https://raw.githubusercontent.com/kubernetes-sigs/blob-csi-driver/master/deploy/blobfuse-proxy/blobfuse-proxy.yaml
Firstly - I deployed it with INSTALL_BLOBFUSE environment variable as false because I'm using Blob CSI driver which actually have this one, but when I found new error - all configuration was removed (this template, blob csi driver, all PV, PVC a

[2021-10-04 12:27] andyzhangx commented on #522
@SiarheiBortnik could you check blobfuse-proxy logs? I think blobfuse package install failed on your node.

[2021-10-04 13:26] SiarheiBortnik commented on #522
Here it is:
[code]

[2021-10-04 14:02] andyzhangx commented on #522
@SiarheiBortnik could you apply this yaml config to install blobfuse binary:
[code]

[2021-10-04 14:32] #521 closed

[2021-10-05 07:42] SiarheiBortnik commented on #522
Thank you. This version of blobfuse proxy works fine. I tested how it works after csi-blob-node restart - and it works now. I think problem with mounting resolved. But do you gave any ideas why I faced erorrs with rights time to time?
[code]
Or we need further investigation?

[2021-10-05 14:47] andyzhangx commented on #522
@SiarheiBortnik no idea, maybe it's related to cache. @NaraVen  may know more since it's error from blobfuse driver.

[2021-10-05 20:40] NaraVen commented on #522
This was a blobfuse issue until version 1.3.7. fixed in 1.3.8 Link: https://github.com/Azure/azure-storage-fuse/issues/604
 @SiarheiBortnik , I see that you are using csi driver 1.4 which wraps blobfuse 1.3.8. So you should not be seeing the d?????? issue any more, Are you still seeing it or are you asking why you saw it before?

[2021-10-14 13:49] andyzhangx commented on #388
pls try with blobfuse-proxy: https://github.com/kubernetes-sigs/blob-csi-driver/tree/master/deploy/blobfuse-proxy, it's now the default setting from v1.6.0, blobfuse-proxy could make blobfuse mount still available after driver restart.

[2021-10-14 13:49] #388 closed, assigned to nobody

[2021-10-14 13:51] andyzhangx opened #546 "[feature request]implement blobfuse-proxy RedHat daemonset"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Current blobfuse-proxy.yaml could only be applied to debian based agent nodes, need to implement blobfuse-proxy daemonset for RedHat: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/blobfuse-proxy.yaml

**Describe alternatives you've considered**

About how to

[2021-10-15 16:37] yuriy-borysiuk-tw opened #548 "Helm chart version v1.6.0/latest contain missing value"
The helm chart version: v1.6.0 and  latest contains missing base repo value {{.Values.image.base Repo}}` in file `blobfuse-proxy.yaml`.

Also in the `values.yaml` file, the value for the `image.blob.tag` is "latest", but there should probably be a specific version. So the image with the `latest` tag is not pulled due to its absence in the repository.

**What happened**:
`Blobfuse-proxy` doesn't wa

[2021-10-16 02:26] #548 closed, assigned to nobody

[2021-10-16 02:31] andyzhangx commented on #548
thanks, it's been fixed in v1.6.0, try:
[code]

[2021-11-04 14:23] Cogax opened #558 "Pod is running even files are not available yet"
**What happened**:
We mount our blob storage container via persistent volume. When we create a Pod with the volume mount and execute `ls` immediately after Pod started, it shows no files. After ca. 20 seconds the files are available (show up when running `ls`).

**What you expected to happen**:
Files should be available if pod is started.

**How to reproduce it**:
Mount a blob storage container wi

[2021-11-04 14:30] andyzhangx commented on #558
@Cogax if you use blobfuse mount directly, will those files appear directly without waiting 20s? follow this guide to mount manually on the node: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/csi-debug.md#troubleshooting-connection-failure-on-agent-node

 @NaraVen do you know any possible issue that would cause such behavior in blobfuse driver?

[2021-11-04 15:29] Cogax commented on #558
@andyzhangx

I get this response immediately
[code]

[2021-11-04 19:19] NaraVen commented on #558
@Cogax --cancel-list-on-mount-seconds=0 is the mount option you can use to avoid the 20s delay and override the default. Default delay is set to 20s in blo-csi-driver @andyzhangx , could you confirm if csi is setting a default delay?
Regarding the nonempty tmp dir @Cogax please use --empty-dir-check=false while mounting to allow non empty tmp dirs.

[2021-11-05 01:46] andyzhangx commented on #558
@NaraVen thanks! Current default value of `cancel-list-on-mount-seconds` is `60`, what default value should be better?

[OPTIONAL] --cancel-list-on-mount-seconds=0 : A list call to the container is by default issued on mount. Setting this value to a number greater than 10 seconds will cancel this default list call. For containers with a very large number of files setting this to 10 seconds can sav

[2021-11-05 07:07] Cogax commented on #558
@NaraVen @andyzhangx
I tried with mount option `--cancel-list-on-mount-seconds=0` and it works! Tanks a lot.

I'm wondering why 60 seconds is the default? We use this driver a lot but as it seems we never touched those mounted files within the first 60 seconds. I would expect, if a Pod has a Running state, that volume is mounted. Otherwise, I would expect that the Pod will stay in Creating state u

[2021-11-05 10:58] #449 closed

[2021-11-16 09:39] satr opened #563 "There is no chart v1.6.0, only latest"
**Is your feature request related to a problem?/Why is this needed**
Deploying csi-driver and proxy with flux2

**Describe the solution you'd like in detail**
Each chart should exist with own version, not just as `latest`, which is not good practice to use, we guess

**Describe alternatives you've considered**
Add chart folder for version v1.6.0

[2021-11-16 09:43] andyzhangx commented on #563
it's already there: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/charts/v1.6.0/blob-csi-driver/values.yaml, did you try with
[code]

[2021-11-16 11:52] satr commented on #563
This is strange - we two, with my colleague, looked at the list of folders, and saw the largest available number 1.5.0.
This 1.6.0 is very different than `latest`, at least what relates to `proxy`:
- In chart [latest blobfuse-proxy.yaml](https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/charts/latest/blob-csi-driver/templates/blobfuse-proxy.yaml) use values, in [1.6.0 blobfuse-proxy.y

[2021-11-16 13:29] andyzhangx commented on #563
`blobfuseVersion: 1.4.1` is [blobfuse driver](https://github.com/Azure/azure-storage-fuse) version, pls always install fixed release version, e.g. `v1.6.0`, and `latest` tag is for experimental testing, just run:
[code]

[2021-11-16 13:31] satr commented on #563
Thank you

[2021-11-16 13:31] #563 closed

[2021-11-17 03:01] andyzhangx commented on #558
this PR(https://github.com/kubernetes-sigs/blob-csi-driver/pull/564) changed `--cancel-list-on-mount-seconds=10` and also added `--empty-dir-check=false`

[2021-11-17 03:01] #558 closed

[2021-11-19 09:28] rafernandez opened #569 "Helm chart is not downloadable"
Hello !

**What happened**:

Helm chart is not downloadable

**What you expected to happen**:

Helm chart is downloadable

**How to reproduce it**:
[code]

**Anything else we need to know?**:

The version seems to have changed from 1.0.6 to **v**1.0.6

**Environment**:
- CSI Driver version: 1.6.0

Thanks !

[2021-11-19 09:44] andyzhangx commented on #569
pls run `helm repo update`, it should work now, fixed by #571

[2021-11-19 09:44] #569 closed

[2021-11-19 10:02] rafernandez commented on #569
Thanks, its works

[2021-11-20 13:36] #465 closed

[2021-11-20 13:36] #464 closed

[2021-11-22 02:49] andyzhangx commented on #115
btw, restart `blobfuse-proxy` on the agent node would cause all blobfuse mount invalid, while `blobfuse-proxy` should be a very stable service, that service should not be restarted in normal conditions.

[2021-11-24 09:31] andyzhangx commented on #289
try run this daemonset to remove `/etc/cron.daily/mlocate` which could save storage account list cost:
[code]

[2021-11-24 14:06] SiarheiBortnik opened #575 "High ADLS gen2 utilization"
**What happened**:
High ADLS gen2 utilization which produce high storage cost

**What you expected to happen**:
Blob fuse driver produce huge amount (about 15.000.000 per 24 hour) of operations such as ListFilesystemDir and GetFileProperties.
![Capture](https://user-images.githubusercontent.com/61515826/143253432-60062fe4-d1ce-4a71-aca3-6315ca9b1e15.PNG)
**How to reproduce it**:
We are using stora

[2021-11-24 14:10] andyzhangx commented on #575
could you try this workaround:
https://github.com/kubernetes-sigs/blob-csi-driver/issues/289#issuecomment-977696341

[2021-11-24 14:58] SiarheiBortnik commented on #575
Thank you. Now we need to look after it day or two.

[2021-12-01 11:39] SiarheiBortnik commented on #575
Big thank you @andyzhangx Now our utilization looks much better. The issue could be closed.

[2021-12-01 11:39] #575 closed

[2021-12-04 18:34] omer2500 opened #581 "blob flag provided but not defined: -custom-user-agent │"
**What happened**:
When installing the helm chart on a cluster (with almost default settings) the controller and node are crushing because of this error:

<img width="827" alt="image" src="https://user-images.githubusercontent.com/29802207/144720581-d8c5fa9e-d3fb-44c9-94e8-00b3d7897162.png">

**What you expected to happen**:
the chart should work

**How to reproduce it**:
 install the chart with d

[2021-12-05 00:36] andyzhangx commented on #581
did not repro on my env, try `helm repo update`:
[code]

if it still failed, pls provide your driver node pod description by `kubectl describe csi-blob-node-xxx -c blob -n kube-system`

[2021-12-05 06:41] omer2500 commented on #581
@andyzhangx thanks for the quick answer!
i solved it by using the currect values file (i used the latest instead of 1.7.0)
and it fixed the issue!

Thanks anyway :)

[2021-12-05 06:41] #581 closed

[2021-12-06 11:04] #214 closed

[2021-12-06 11:05] andyzhangx commented on #220
install `netbase` package solve this issue

[2021-12-06 11:05] #220 closed

[2021-12-10 02:18] andyzhangx commented on #289
more graceful way is exclude blobfuse indexing in updatedb config:
[code]

[2021-12-13 11:32] andyzhangx commented on #575
more graceful way is exclude blobfuse indexing in updatedb config:
[code]

[2021-12-14 01:54] #473 closed

[2021-12-17 12:47] ThisIsNotTheUserYouAreLookingFor commented on #38
@andyzhangx any chance this is still somewhere on the roadmap? From a security perspective this seems the way to go for our company, as the alternative is mounting the blob storage through fuse to do fine grained authorization. Doing this requires some privileges that we can limit but this feels like a bypass we could avoid with pod identity.

[2021-12-17 12:50] andyzhangx commented on #38
cc @bcho

[2021-12-20 03:37] bcho commented on #38
/assign @bcho

Ack, I will look into this later. On the other hand, we are working on a v2 version of pod identity which will be public preview soon, therefore we might have some changes here.

[2022-01-07 15:42] luanjot opened #600 "Problem with symlinks"
**What happened**:
symlinks are treated as files when they are in NFS mounted drives, symlinks created in a mounted drive using the driver are treated as files by the blob storages mounted as NFS in the VMs

**What you expected to happen**:
Existing symlinks to appear as symlinks and new symlinks to be stored in the storage account as symlinks

**How to reproduce it**:
Mount a blob storage and cre

[2022-01-09 03:06] andyzhangx commented on #600
symlink works on my Unbutu 18.04 node with this example: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/deploy/example/statefulset-nfs.yaml

so if works in your nfs mount inside container, I think that's ok. The symlink file would be stored on a blob storage, and it may use different implementation on azure blob storage layer, as long as it works inside pod, I think that's ok.

[co

[2022-01-09 16:48] luanjot commented on #600
OK. Yes, indeed, creating a symlink in the pod works, but It is just that it does not work in the same way as the official Azure NFS implementation of blob storage accounts, so, any link created in one technology is not usable in the other.

But if this is not in scope of your libraries, I guess we can close the ticket.

I will find a different solution.

Thank you

[2022-01-10 03:01] andyzhangx commented on #600
@luanjot what do you mean `Open it in a VM with the blob storage mounted as NFS`?  the pod nfs access is still based on nfs mount on one VM, you could ssh to agent node, and try `mount | grep nfs`,

[code]

if you use same mount options, and mount on same nfs file share, I think you could get same content.

[2022-01-10 15:54] luanjot commented on #600
Hello,

I did put the same options in the pod, but I am not sure how to verify they are the same because I cannot see them on kubectl describe.

In any case, my behaviour at the moment is that both links are different. This is what I see when I open it from a VM. As you can see, the symlink created in the pod is **not** a symlink and the symlink created in the vm is:

[code]

This is what I see fr

[2022-01-11 12:43] luanjot commented on #600
Hello,

I finally figured out the issue. It was that I was indeed not mounting it with the right options as the protocol nfs was not set properly so it was being mounted in a different way.

Now I can see the links from the vm in the right way.

Thank you

[2022-01-11 12:43] #600 closed

[2022-01-21 13:19] andyzhangx opened #604 "fix golint errors"
**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2022-03-03 21:51] dg4101 opened #617 "Adding --streaming=true option results in mount fail"
**What happened**:

Added --streaming=true in moutOption on StorageClass

[code]

Pod throw error on mount

[code]

**What you expected to happen**:
mount continue to work and files from the mount to be read by stream instead of going to cache

**How to reproduce it**:

Add `- --streaming=true` option on the storage class and mount data lake blob storage

**Anything else we need to know?**:

**Env

[2022-03-04 10:42] mkemmerz opened #618 "MSI authentication: Identity not found issue"
Hello, I am not able to get the authentication to work with my **user-assigned** Managed Identity and Blob Storage. The MSI has permissions on the Storage Account and Container. Service Principal auth worked fine for me.

blob-csi-driver version 1.8.0 is used.

I have tried all authentication parameters as suggested in the example files: `AzureStorageIdentityClientID, AzureStorageIdentityObjectID,

[2022-03-04 12:11] bcho commented on #38
Hi @mkemmerz we are still working on the workload identity feature integration. In the future, both blob csi and key vault csi driver will support workload identity.

[2022-03-04 13:21] andyzhangx commented on #618
could you refer to https://github.com/Azure/azure-storage-fuse#environment-variables, and try using env with blobfuse command to check whether msi works?

[2022-03-04 13:23] andyzhangx commented on #618
btw, I think the msi should be aks cluster's kubelet managed identiy.

[2022-03-04 13:32] mkemmerz commented on #618
Thanks a lot for the quick reply! Do you know if it has to be the kubelets identity?
We are using seperated namespaces for our teams so we basically have the need to be able to use the team's specific managed identity to access the blob.

[2022-03-04 13:53] andyzhangx commented on #618
as I know, kubelet managed identiy is bound to the agent node, could you try kubelet identity first? I am not quite sure.

[2022-03-04 13:54] andyzhangx commented on #617
could you try blobfuse mount first? https://github.com/Azure/azure-storage-fuse#mount-options

[2022-03-04 14:04] mkemmerz commented on #618
I will definetly try this out. Thanks for the hint.

[2022-03-04 18:06] dg4101 commented on #617
Could you please elaborate what you meant by "try blobfuse mount first" ?
`--streaming=true` option I added to the storage class is from https://github.com/Azure/azure-storage-fuse#mount-options.

[2022-03-07 02:55] andyzhangx commented on #617
@dg4101 could you provide more details about your cluster?
 - k8s version
 - whether it's aks
 - whether you are using blobfuse-proxy, if yes, what's the blobfuse version on the agent node(`blobfuse -v`)

[2022-03-07 02:59] andyzhangx commented on #617
could be related to https://github.com/Azure/azure-storage-fuse/issues/675

[2022-03-07 09:12] dg4101 commented on #617
@andyzhangx

Here is info requested.

* k8s version
v1.21.2

* whether it's aks
yes

* whether you are using blobfuse-proxy, if yes, what's the blobfuse version on the agent node(blobfuse -v)
blobfuse 1.4.2

[2022-03-07 09:18] andyzhangx commented on #617
so if you remove `- --streaming=true`, does it work? I tried `--streaming=true` with nginx pod, it works well, not sure whether it's related to lake blob storage account.

[code]

[2022-03-07 10:47] dg4101 commented on #617
if I remove `- --streaming=true`, it will work.

With `- --streaming=true`, it works for a while. After certain amount of time, I start receiving
error `df: /mnt/pvc-storage: Transport endpoint is not connected`

It does look like that depends on the node spec some works bit longer than the other
I have Standard_D8s_v3 and Standard_D32ds_v5.
Pod on Standard_D32ds_v5 did work bit longer (about 5 mi

[2022-03-07 11:23] andyzhangx commented on #617
@dg4101 could you check whether `enable-blobfuse-proxy` is set as `true` in the driver daemonset:
https://github.com/kubernetes-sigs/blob-csi-driver/blob/4875556c1d70902af9f43d32120dbc77ff977c58/deploy/csi-blob-node.yaml#L90

If yes, try run following command to install blobfuse v1.4.3 version which may solve the issue according to: https://github.com/Azure/azure-storage-fuse/issues/675
[code]

[2022-03-08 09:52] dg4101 commented on #617
@andyzhangx
thank you for info.
`enable-blobfuse-proxy` is set `true`.
I updated blobfuse on one of nodes  to 1.4.3. With that, I do not observe the issue any more and the mount continues working on the pod which runs on the updated node.

However,  `csi-blobfuse-proxy` stopped working with following errors.
[code]
It looks to me that it is trying to downgrade to 1.4.2 and fails.

https://github.c

[2022-03-09 07:28] #617 closed

[2022-03-31 03:23] cvvz commented on #546
/assign

[2022-03-31 03:23] andyzhangx commented on #546
also need to check whether it's possible to add a github action to test RPM package install on RedHat, follow: https://github.com/redhat-actions

further more, how to add e2e test coverage on OpenShift, that's also need by other Azure CSI drivers.

[2022-03-31 14:28] PrathibaNet opened #637 "Upgrading AKS cluster to 1.21.7 facing volume mount issue."
Hi ,
In our AKS cluster we have installed csi-secrets-store using helm in terraform as below
resource "helm_release" "csi-secrets-store" {
  name             = "csi-secrets-provider-azure"
  repository       = var.kv_csi_chart_url
  chart            = "csi-secrets-store-provider-azure"
  version          = "0.0.7"
  namespace        = var.kv_csi_namespace
  create_namespace = true
}

variables are

[2022-03-31 14:45] crgarcia12 commented on #637
Have you consider using the module instead: https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver

[code]

[2022-03-31 14:46] #637 closed

[2022-04-11 02:43] andyzhangx opened #649 "blobfuse-proxy would crash if higher blobfuse version is already installed on the node"
**What happened**:

blobfuse-proxy would crash if higher blobfuse version is already installed on the node, error logs is like following:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: v1.10.0
- Kubernetes version (use `kubectl version`): 1.22
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`

[2022-04-14 08:44] cvvz commented on #649
/assign

[2022-04-15 09:18] cvvz commented on #546
The default operating system of OpenShift cluster machines is [Red Hat Enterprise Linux CoreOS (RHCOS)](https://docs.openshift.com/container-platform/4.8/architecture/architecture-rhcos.html), which is not using `yum` to manage RPM software packages. We should find a way to package and  install `blobfuse` and `blobfuse-proxy` in CoreOS Linux.
cc @andyzhangx

[2022-04-25 06:56] anjalisajith opened #670 "Extra file is getting created for each folder in storage account"
**What happened**:
I was able to connect Aks back end to azure storage account blob using csi driver. Able to get the files in the blob as well. Issue : for each folder in the storage account and extra empty file with the name same as the folder is getting created.

**What you expected to happen**

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version

[2022-04-25 06:59] anjalisajith commented on #670
Please help me to resolve this issue

[2022-04-25 07:00] andyzhangx commented on #670
do you have more details? what's the extra file?

[2022-04-28 01:21] andyzhangx commented on #670
any update? the blob csi driver itself won't write any data to the mounted folder since CSI driver only deals with mount/unmount, create/delete volume.

[2022-04-28 08:04] anjalisajith commented on #670
Requirement is mounting the AKS  backend to Azure storage account. When we tried to implement this through direct mount to file share (dynamic storage account ) , it is working perfectly without any duplicate files. When we tried to implement the same solution with azure blob as the backend using csi driver (static storage account with secret), we face this duplicate file issue.

[2022-04-28 08:13] anjalisajith commented on #670
Attached screenshot shows the error , with duplicate txt file with 0KB size created for each folder.
![Uploading IMG_20220428_133647~2.jpg…]()

[2022-04-28 08:21] anjalisajith commented on #670
![Uploading IMG_20220428_133647~2.jpg…]()

[2022-05-02 14:04] andyzhangx commented on #670
the kubelet identity should have write permission on the `Virtual network`. similar to https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/install-driver-on-aks.md, you should assign `Contributor` role on that `Virtual network` using by your cluster.

[2022-05-06 05:59] anjalisajith commented on #670
Hi Andy,

I have provided the contributor access to AKS agent pool in the VNET and that particular error git fixed. But now I am getting the similar error for storage account /listkeys/action when trying with the existing storage account

[2022-05-06 06:02] anjalisajith commented on #670
Hi Andy,

I have provided the contributor access to AKS agent pool in the VNET and that particular error git fixed. But now I am getting the similar error for storage account /listkeys/action when trying with the existing storage account. Similar to #186 could you please suggest how to fix this ?

Another query:
Is it possible to use this driver setup in non-azure environments.( eg: connecting on

[2022-05-06 06:23] andyzhangx commented on #670
@anjalisajith then you need to grant storage account contributor access to the driver identity.
This driver supports non-azure environments

[2022-05-06 15:44] lw3636 opened #673 "csi-blobfuse-proxy stuck in crashbackoffloop"
What happened:
Control plane csi-blobfuse-proxy pod stuck in crashbackoffloop -

It is experiencing a crashbackoffloop error. When looking at the logs, I see the error
'+ false == true
+ dpkg -i /tmp/blobfuse-proxy-v0.1.0.deb
dpkg: error: cannot access archive '/tmp/blobfuse-proxy-v0.1.0.deb': No such file or directory'

csi-blobfuse-proxy which is in the kube-system namespace of the cluster.

We

[2022-05-06 15:56] andyzhangx commented on #673
pls run, original daemonset is on master branch:
[code]

[2022-05-09 10:15] lw3636 commented on #673
Perfect, thank you. That seemed to resolve the issue.

[2022-05-09 10:15] #673 closed

[2022-05-09 17:16] anjalisajith commented on #670
Hi Andy,

Thanks for the suggestions and it resolved the access issue. I have another query regarding the version support.

I am getting the below error when trying to install blob csi driver in AKS (version 1.22.6 ) using Terraform ( version > 2.86.0).

Error : Unable to build kubernetes objects from release manifest: unable to recognise " ": no matches found for kind " CSIDriver" in version. "st

[2022-05-10 03:34] andyzhangx commented on #670
@anjalisajith I think you are using old version with `v1beta1`, it's now `storage.k8s.io/v1 `
https://github.com/kubernetes-sigs/blob-csi-driver/blob/dd7bc52f6813d63d7a22f6f88160a095d920ee56/deploy/csi-blob-driver.yaml#L2-L3

[2022-05-17 07:54] anjalisajith commented on #670
Yes it worked!!

[2022-05-17 08:07] anjalisajith commented on #670
Question regarding the storage part:

Storage account blob size limit is the size limit set by Microsoft, while deploying the blob csi driver using nfs we can specify the size only for the pvc( eg: 1GiB) . After deployment  in Azure portal a pv will get created automatically  with the same size as the pvc (1GiB).

My query is if the size exceeds 1 GiB will the pv size grows automatically based on

[2022-05-17 08:14] andyzhangx commented on #670
@anjalisajith if size exceeds 1 GiB, the pv size grows automatically. the pv is actually a directory under one storage account, the capacitary should be 100TB per storage account as I could recall.

[2022-05-18 14:45] #670 closed

[2022-05-18 14:45] #618 closed

[2022-05-31 09:49] cvvz commented on #649
According to the error logs: `E: Packages were downgraded and -y was used without --allow-downgrades`,   the flag `--allow-downgrades` should be added when downgrade with `-y` flag. Should we skip downgrading when blobfuse with greater version already exists or just use `--allow-downgrades` flag to allow downgrading?

[2022-06-07 12:32] anjalisajith opened #689 "Non Azure Kubernetes cluster when tried to connect to azure storage using csi driver nfs protocol, throwing error in pvc creation"
Error :
Provisioning failed blob.csi.azure.com.xyz failed to provision volume with Storage class "abc"
Rpc error : code = Internal desc = update service endpoints failed with error : SubnetClient is nil

When implemented the same solution in AKS contributor permission was provided to the VNET RG and storage contributor to Storage account,

 Since this is a non-azure cluster Please advice if this i

[2022-06-09 09:38] cvvz opened #692 "No need to use daemonset to install and start blobfuse-proxy"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Add an initContainer in blob-csi-node to install and start blobfuse-proxy service on host.

**Describe alternatives you've considered**

**Additional context**

[2022-06-10 10:10] cvvz opened #693 "blobfuse-proxy restart will make blobfuse exit"
**What happened**:
blobfuse-proxy restart will cause blobfuse exit, and influence existing mount.

**What you expected to happen**:
blobfuse-proxy restart should not influence existing mount.

**How to reproduce it**:
1. Install blob csi driver with blobfuse-proxy enabled.
2. Create a Pod mount blob PVC using blobfuse protocol.
3. Enter the host.
4. Kill or restart blobfuse-proxy process.

**Anyth

[2022-06-13 04:08] cvvz opened #695 "Make blobfuse-proxy optional when installing Blob CSI driver by kubectl"
**Is your feature request related to a problem?/Why is this needed**

It's better provide an env or some switch to disable blobfuse-proxy in deploy/*.yaml config, similar to charts config, since this blobfuse-proxy script actually does not work on non-Ubuntu node

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2022-06-13 06:22] anjalisajith commented on #689
Hi,

I tried to test the connection between  on premise rancher cluster and azure blob. Configured the azure cloud config when tried to deploy the csi driver, able to deploy the pv and pvc successfully without any issues. But when tried to mount thr backend in the test nginx container it is throwing error "driver name not found in the list of registered  csi drivers " .

Could you please help

[2022-06-13 06:37] andyzhangx commented on #689
@anjalisajith that means this driver daemonset is not installed successfully on the agent node, follow guide here to troubelshooting: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

[2022-06-13 09:26] andyzhangx commented on #689
@anjalisajith which version are you trying, from v1.7.0, we allow empty cloud config: https://github.com/kubernetes-sigs/blob-csi-driver/pull/562

[2022-06-13 09:27] andyzhangx commented on #689
could you provide more detailed logs?

[2022-06-13 11:20] #692 closed

[2022-06-13 13:29] anjalisajith commented on #689
Hi Andy,

As requested please find the attached logs.

Thanks,
Anjali G

On Mon, 13 Jun, 2022, 2:57 pm Andy Zhang, ***@***.***> wrote:

kubectl logs daemonset/csi-blob-node -c blob -n kube-system -f
Found 9 pods, using pod/csi-blob-node-79h26
I0613 10:58:54.453345       1 main.go:113] set up prometheus server on [::]:29635
I0613 10:58:54.453869       1 blob.go:216]
DRIVER INFORMATION:
------------

[2022-06-13 13:57] andyzhangx commented on #689
I see where the problem is, you should set `--allow-empty-cloud-config=true` in both driver controller deployment and driver daemonset:
https://github.com/kubernetes-sigs/blob-csi-driver/blob/e95db527dc241a7a456ff823e34ce2ace08baa08/charts/latest/blob-csi-driver/templates/csi-blob-controller.yaml#L106

[2022-06-14 05:55] anjalisajith commented on #689
Hi Andy,

These were the files that got created as part of csi-driver installation, are you suggesting to update these files ?
Can you please share any sample document or detailed steps?

[2022-06-14 06:55] andyzhangx commented on #689
from your logs, I think the issue is secret `kube-system/azure-cloud-provider` contains invalid azure cloud provider config, could you remove that config, and then restart all blob drivers?

 - normal driver logs when cloud provider config is not provided, it should run well without any azure cloud config:
[code]

[2022-06-15 07:41] andyzhangx commented on #689
pls do not use master branch to install the csi driver since it uses `latest` tag image which tends to change, pls follow released version install method: https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/docs/install-csi-driver-v1.14.0.md

[2022-06-16 08:54] andyzhangx opened #702 "init.sh logs could be collected"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

suggest dump init.sh logs to /var/log/blobfuse-proxy-install.log
And this driver could mount /var/log/ hostPath.
https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/pkg/blobfuse-proxy/init.sh

**Describe alternatives you've considered**

**Additional context**

[2022-06-17 03:36] andyzhangx opened #703 "improve unit test coverage"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

It's now 69%, target num: 85%

https://coveralls.io/github/kubernetes-sigs/blob-csi-driver?branch=master
![image](https://user-images.githubusercontent.com/4178417/174219842-32fb9e7d-3abf-4c20-a0ad-15f7e2f32b07.png)

**Describe alternatives you've considered**

**Additional context

[2022-06-17 13:36] andyzhangx commented on #702
k logs csi-blob-node-ds9wk -n kube-system install-blobfuse-proxy

[2022-06-20 15:59] mukhoakash commented on #703
/assign

[2022-06-21 15:03] juthikashenoy opened #705 "blobfuse-proxy pods are not starting while installing using helm"
I am installing Blob CSI driver in AKS cluster using this command -
https://github.com/kubernetes-sigs/blob-csi-driver/tree/master/deploy/blobfuse-proxy#step2-install-blob-csi-driver-with-blobfuse-proxy-enabled
helm install blob-csi-driver blob-csi-driver/blob-csi-driver --namespace kube-system --version v1.14.0 --set node.enableBlobfuseProxy=true

I expect to see the pods like this ( this is from

[2022-06-22 11:10] andyzhangx commented on #705
correct, csi-blobfuse-proxy is no loner needed from v1.14.0, there is a `install-blobfuse-proxy` in initContainer which would do same thing.

[2022-06-22 11:10] #705 closed

[2022-06-22 11:11] #689 closed

[2022-06-24 09:15] sphinx02 opened #706 "AKS | EMFILE: too many open files -> Blobfuse proxy making troubles if nodejs application is opening a few thousand files"
**What happened**:
If we deploy the blob-csi-driver with enabled blobfuseproxy we are seeing the error `EMFILE: too many open files` after opening a few thousand files in our deployed nodejs application:
`helm install blob-csi-driver blob-csi-driver/blob-csi-driver --namespace kube-system --version v1.15.0 --set node.enableBlobfuseProxy=true`

If we deploy the blob-csi-driver without enabling the

[2022-06-25 03:04] andyzhangx commented on #706
@sphinx02 thanks, that's very nice analysis, I have worked out a PR to fix the issue: https://github.com/kubernetes-sigs/blob-csi-driver/pull/707

[2022-06-25 09:26] #706 closed

[2022-06-25 15:15] #604 closed

[2022-06-30 08:28] sphinx02 commented on #706
@andyzhangx thank you very much for this speedy PR. Could you already check if this fixes issues with too much open files? I can test it as soon as an release is available. Is there any time-schedule for the next release? Is there any reason why the 1.15 release is not yet shown under github releases?

[2022-07-01 11:54] sphinx02 opened #714 "Version missmatch between GitHub release and helm chart version"
Hi,
following the last 2 releases of the blob-csi-driver I recognized that the chart- and app-version of the helm-chart is always one version higher than the release version of the blob-csi-driver in GitHub.

Currently e.g. if listing the helm-chart versions:
![grafik](https://user-images.githubusercontent.com/10533724/176888975-30e797c5-457e-4e6f-a151-dd23c54f8d8b.png)

And if looking at the GitH

[2022-07-01 14:44] #693 closed

[2022-07-04 06:22] sphinx02 commented on #714
@andyzhangx but how do I know which helm-chart version contains which GitHub release generally?

[2022-07-04 07:03] andyzhangx commented on #714
@sphinx02 I think you could use v1.15.0 helm-chart version, it would have v1.15.0 GitHub release

[2022-07-04 07:32] andyzhangx commented on #714
Current v1.16.0 helm-chart actually contains the `latest` GitHub release which is for testing purpose, and when `v1.16.0` is released, it would contain v1.16.0 GitHub release, and now you could try `v1.15.0` which is the latest released version.

we could not set `version` as `latest`(invalid format) in `charts/latest/blob-csi-driver/Chart.yaml`, that's reason we always set as a higher version tha

[2022-07-04 07:59] sphinx02 commented on #714
Sorry, I still dont get it. Does that mean that in this case the helm-chart version v1.15.0 did change over time?

[2022-07-04 08:04] andyzhangx commented on #714
@sphinx02 NO, v1.15.0 is released, so it won't change over time, and v1.16.0 is master branch version, it may change in the future.

[2022-07-04 08:39] sphinx02 commented on #714
I am not sure but I think we had the same thing with v1.15.0, it was latest helm-chart until you recently made the v1.15.0 GitHub release. If you ask me that is completely confusing. I have various clusters running on v1.15.0 helm-chart which was available since more than 2 weeks but since the v1.15.0 GitHub release, the v1.15.0 helm-chart version seem to be something different now.

I recommend t

[2022-07-04 08:51] andyzhangx commented on #714
@sphinx02 what about add such notes: https://github.com/kubernetes-sigs/blob-csi-driver/pull/715

[2022-07-04 10:01] sphinx02 commented on #714
To be honest, I dont think that is enough. I am not sure if its only me but if there is an offical helm-repository of a GA helm tool I expect that the latest helm-chart is the latest stable one. Untested master releases should never be the latest release of a GA helm repository.

[2022-07-05 03:02] #714 closed

[2022-07-05 06:03] sphinx02 commented on #714
@andyzhangx that sounds great. This way the latest release is always the latest stable release and also a versioned release does not change over time (except the special master v0.0.0 release). Thank you again!

[2022-07-07 18:24] miwithro commented on #38
@andyzhangx Pod Identity is being deprecated for https://github.com/Azure/azure-workload-identity

[2022-07-18 02:21] #103 closed

[2022-07-25 20:43] aarongalang commented on #703
/assign

[2022-08-03 17:23] freedev opened #724 "CSI blob node CrashLoopBackOff"

[2022-08-03 17:24] #724 closed

[2022-08-04 06:26] bishal7679 opened #725 "Typos in read-from-secret.md file"
**What happened**:

There are a typo in read-from-secret.md

![Screenshot (253)](https://user-images.githubusercontent.com/70086051/182777902-0303cf27-46bd-443e-9ec1-0901ff39dd2a.png)

**What you expected to happen**:

It should be `cloudConfigSecretNamespace`

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `una

[2022-08-04 06:26] bishal7679 commented on #725
/assign

[2022-08-04 06:47] #725 closed

[2022-08-04 07:06] bishal7679 opened #727 "Not used backtick on errors.Wrap function in README.md"
**Is your feature request related to a problem?/Why is this needed**

![Screenshot (254)](https://user-images.githubusercontent.com/70086051/182784835-be5a6604-173e-47f7-b127-71833ce2350e.png)

file :- https://github.com/kubernetes-sigs/blob-csi-driver/tree/master/vendor/github.com/pkg/errors

**Describe the solution you'd like in detail**

It would be better if we use `errors.Wrap` instead of wit

[2022-08-04 07:08] bishal7679 commented on #727
@andyzhangx What do you think?

[2022-08-17 14:08] #440 closed

[2022-08-28 03:57] lifejoyforpy opened #743 "mount azure blob cause blob content-type is all application/octet-stream"
Hi ,i  use  aks  mount aure blob .but  i found all files  content-type is  application/octet-stream,this is not i want , i  hope  if file is
jepg ,this contenttype is  image/jpeg,

[2022-08-28 03:57] lifejoyforpy commented on #743
[](url
![1665314a5a94e1ce4c65417ee286cd0](https://user-images.githubusercontent.com/38183800/187056679-b4be1177-c5c5-491b-81cc-61b4f60c5e7c.jpg)
)

[2022-08-29 03:04] andyzhangx commented on #743
@lifejoyforpy try set as `--set-content-type=true` in pv mount options.

[code]

[2022-08-29 03:04] lifejoyforpy commented on #743
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-08-29 14:50] lifejoyforpy commented on #743
this is my pv.yaml
![1661784485798](https://user-images.githubusercontent.com/38183800/187229623-27cbba8c-1b85-490b-a9df-8b9357f13733.png)

[2022-08-29 14:53] andyzhangx commented on #743
@vibhansa-msft do you have any insight about this issue? Thanks.

[2022-08-29 15:12] lifejoyforpy commented on #743
i redepoy ,now it works . tks

[2022-08-30 16:40] mouhannadali opened #745 "MountVolume.SetUp failed could not get secret"
**What happened**:  following the  [CSI driver example](https://github.com/kubernetes-sigs/blob-csi-driver/blob/75dc315e6433c799d2784d8d12f11bd0cc803ede/deploy/example/e2e_usage.md) "Option#3: Inline volume" on AKS cluster. when try to create nginx-blobfuse-inline-volume I get the following exception:
` MountVolume.SetUp failed for volume "persistent-storage" : rpc error: code = Internal desc = co

[2022-08-30 20:55] yriveiro opened #746 "Latest version of helm chart is pointing to wrong version file v0.0.0.tgz"
**What happened**:

The latest release of the Helm chart is pointing to an incorrect semversion `v0.0.0`

**What you expected to happen**:

The latest semversion available should be `v1.16.0`

**How to reproduce it**:

[v1.16.0](https://github.com/kubernetes-sigs/blob-csi-driver/tree/master/charts/v1.16.0) has two binaries, the incorrect one and the correct one

**Anything else we need to know?**:

[2022-08-31 10:43] mouhannadali commented on #745
it was an issue with K8s API. for some reason was stuck ...

[2022-08-31 10:43] #745 closed

[2022-08-31 14:59] andyzhangx commented on #746
release `v1.16.0` actually points to https://raw.githubusercontent.com/kubernetes-sigs/blob-csi-driver/master/charts/latest/blob-csi-driver-v1.16.0.tgz, and `latest` points to https://raw.githubusercontent.com/kubernetes-sigs/blob-csi-driver/master/charts/latest/blob-csi-driver-v0.0.0.tgz, that's expected.

I think we need to remove https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/ch

[2022-08-31 14:59] andyzhangx commented on #743
thanks for the confirm.

[2022-08-31 14:59] #743 closed

[2022-08-31 18:30] yriveiro commented on #746
https://raw.githubusercontent.com/kubernetes-sigs/blob-csi-driver/master/charts/latest/blob-csi-driver-v1.16.0.tgz returns a 404 error code:

<img width="967" alt="Screenshot 2022-08-31 at 19 27 40" src="https://user-images.githubusercontent.com/934763/187752494-2626cfd0-1c29-4974-8770-00bfb1f226ca.png">

The behaviour is consistent with Terraform Helm provider error:

<img width="1352" alt="Scree

[2022-09-01 04:51] #727 closed

[2022-09-01 06:24] #746 closed

[2022-09-01 06:26] andyzhangx commented on #746
https://github.com/kubernetes-sigs/blob-csi-driver/pull/747 should fix the issue, it has removed useless packages.

[2022-09-01 20:56] yriveiro commented on #746
I confirm that works now.

[2022-09-07 06:09] andyzhangx opened #750 "add test for helm repo install"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

related to https://github.com/kubernetes-sigs/blob-csi-driver/issues/746, we need to write a test for helm repo install issue.

or provide a test to check all links inside https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/charts/index.yaml directly.

**Describe alterna

[2022-09-16 16:59] kevball2 opened #755 "Unable to upgrade blob-csi-driver from 1.13 to 1.16"
**What happened**:  Attempting to update driver results in an error during installation

`curl -skSL https://raw.githubusercontent.com/kubernetes-sigs/blob-csi-driver/v1.16.0/deploy/install-driver.sh | bash -s v1.16.0 blobfuse-proxy --`

**What you expected to happen**: Expectation is that the driver to update successfully

**How to reproduce it**: Run the following :

`curl -skSL https://raw.gith

[2022-09-17 06:12] amolmote opened #756 "Broken link need to fix"
## Bug Report
*Problem*
[This page ](https://github.com/kubernetes-sigs/blob-csi-driver/blob/master/CONTRIBUTING.md) has one broken link of `contributor cheat sheet` which needs to fix.

*solution*
need to locate the correct path of README.

/assign
/kind bug
/kind documentation

[2022-09-17 07:14] #756 closed

[2022-09-28 23:06] ejschoen opened #762 "When using CSI FUSE Blob driver to create PVs, unable to restart pods that mount volumes through PVCs"
**What happened**:
Using CSI blob fuse driver to statically access blob container as persistent volume.  Worked once, and then after pods restarted, no longer works.

**What you expected to happen**:
Expected PVCs to mount into pods.

**How to reproduce it**:
Follow instructions at https://learn.microsoft.com/en-us/azure/aks/azure-csi-blob-storage-static?tabs=secret.
Enable blob CSI driver via Ena

[2022-09-29 06:30] andyzhangx commented on #762
do you have two PVs with same `volumeHandle` value?

[2022-09-29 09:12] #750 closed

[2022-09-29 12:41] andyzhangx commented on #762
pls don't use same volumeHandle value, if orignial PV is still used, and second PV with same volumeHandle value would not be mounted on the same node

[2022-09-29 14:34] ejschoen commented on #762
Changing the volume handles did seem to solve the problem, even though I was not using the same volumeHandle twice at the same time.

Does this mean that if I deploy an application through a Helm chart, and that chart creates CSI-implemented PVs, PVCs, and pods that use those PVCs, then I have to generate new unique volumeHandles for each PV with each Helm chart deployment or upgrade?

[2022-09-29 14:40] andyzhangx commented on #762
if PV is created by the driver, then volumeHandle would be unique, the original problem is that the self configured PV is still mounted on the node, and there is conflict with new PV with same volumeHandle.

[2022-09-29 15:34] ejschoen commented on #762
Thanks.  I think I understand.  Since PersistentVolumes are immutable, if I want to change something about the volume when redeploying a Helm chart, I have to create a new PV name and make sure it doesn't use the same volumeHandle as a previous PersistentVolume that the Helm chart would eventually cause to be destroyed (because there would no longer be any Pods mounting PVCs referring to the old P

[2022-09-30 03:03] nikawang opened #763 "Can we choose cool or hot tier in the driver parameters?"
**Is your feature request related to a problem?/Why is this needed**

Some workloads need to storage data into different tier like hot, cool
**Describe the solution you'd like in detail**

There's an option to choose the data tier
**Describe alternatives you've considered**

**Additional context**

Elastic Search on K8S

[2022-09-30 06:33] lifejoyforpy opened #764 "unzip create file slow"
i use azure-blob mount aks pod,     i use c# develope . i unzip  a file in mount folder. i found slowly ,
85mb zip file  unzip blob mount  folder taks 8 s. i
![1664519599341](https://user-images.githubusercontent.com/38183800/193205657-1cda11af-e0c3-419b-94af-cf99708ad7b4.png)

[2022-09-30 06:34] lifejoyforpy commented on #764
unzip use linux  files folder ,unzip blob use mount azure blob folder.,  it is very slowly.

[2022-09-30 06:37] cvvz commented on #764
Aure you using blobfuse or NFS protocal?

[2022-09-30 06:39] lifejoyforpy commented on #764
blobfuse  blobfuse

blobfuse   protocal

[2022-09-30 06:44] cvvz commented on #764
Could you please provide the AKS version, region,  blob csi driver version zip/unzip command so that I can reproduce it on my cluster?

Also, please make sure that AKS node region and storageaccount region are the same so that it won't cause too much network latency.

[2022-09-30 07:06] lifejoyforpy commented on #764
my aks  version 1.21.9  ,region China East 2 ,
i use c# code  unzip files ,create files
![1664521603156](https://user-images.githubusercontent.com/38183800/193211321-a8f6ad6a-138d-4445-9052-eb8bfc5471ab.jpg)

[2022-09-30 07:09] lifejoyforpy commented on #764
i cannot found csi driver version ,i enbale using the microsoft docs https://learn.microsoft.com/en-us/azure/aks/azure-blob-csi?tabs=Blobfuse
![image](https://user-images.githubusercontent.com/38183800/193211665-143fa0cd-273e-4c77-a373-1e2a263961d0.png)
![image](https://user-images.githubusercontent.com/38183800/193211715-2129e98a-403f-4b8b-bc37-1c1b916e9f36.png)

[2022-09-30 07:10] lifejoyforpy commented on #764
![image](https://user-images.githubusercontent.com/38183800/193211907-9ca19379-5950-41a9-873b-37a92e884b32.png)
this is my yaml

[2022-09-30 07:10] lifejoyforpy commented on #764
i  hope u can help me .thanks

[2022-09-30 07:11] lifejoyforpy commented on #764
my  blob account is the same region to aks

[2022-09-30 07:20] andyzhangx commented on #764
@vibhansa-msft do you have any guidance about how to make unzip faster based on blobfuse v1 mount, like tuning some mount options?

[2022-09-30 09:54] andyzhangx commented on #762
it's related to this upstream issue: https://github.com/kubernetes/kubernetes/issues/91556, volumeHandle is the unique ID detected by kubelet when mount, so it's by design in k8s now.

[2022-09-30 14:01] ejschoen commented on #762
That's too bad.  It's very un-k8s like.  Kubelet configures the system of pods and resources according to current state, but here it looks like a temporarily-duplicated volumeHandle that quickly becomes not duplicated causes a discrepancy between the desired and actual state that Kubelet or the CSI driver never resolves.

[2022-10-01 11:47] #546 closed

[2022-10-02 06:36] lifejoyforpy commented on #764
my blob-cis-driver   image is mcr.azk8s.cn/oss/kubernetes-csi/blob-csi:v1.16.0。
i hope can help me. tks

[2022-10-02 19:04] dozer75 opened #766 "Mouting Blob storage using Blobfuse ignores capacity?"
**What happened**:
I have been experimenting with BlobStorage and BlobFuse and I am setting storage capacity to 10Gi, but when I run df -h the mount size still states 15.6G. No matter which capcatiy I use it will always be mounted as 15.6Gi.

**What you expected to happen**:
The mount capacity should be the one requested.

**How to reproduce it**:

Follow the steps in https://learn.microsoft.com/e

[2022-10-03 02:14] andyzhangx commented on #766
a blob storage container could store 100TB data, that's the limit, there is no size concept for blob storage container.

[2022-10-03 06:13] dozer75 commented on #766
Yes it can, but why does the mount show 15.6GB as max then? You can't exceed that if you try to save files. I also tried using NFS and that shows petabytes on the mount so the capacity request is completely ignored in both circumstances.

I would like the capacity to be used as a restriction on how much a pod can store on a storage container. This is an effective way to restrict PVC creators to th

[2022-10-06 09:31] rainerleber opened #769 "NFS Dynamic Provisioning Fails if policy enforces supportsHttpsTrafficOnly to true"
**What happened**: NFS Dynamic Provisioning fails because of a enforced policy which need supportsHttpsTrafficOnly to true.

**What you expected to happen**: SA created dynamically

**How to reproduce it**:
Enforce policy on subscription which only allows : supportsHttpsTrafficOnly set to true
Try to dynamic provision nfs share

**Anything else we need to know?**:

Error message:
{...
 "type":"Pol

[2022-10-07 11:09] #769 closed

[2022-10-11 12:34] rainerleber commented on #763
+1

[2022-10-12 01:59] andyzhangx commented on #766
perf https://github.com/Azure/azure-storage-fuse/issues/543#issuecomment-744125667, this is by design, the total capacity is still 100TB as long as your cache on temp disk is not full, check below details:
[code]

I will close this issue, let me know if you have any other questions, thanks.

[2022-10-12 01:59] #766 closed

[2022-10-12 07:46] rainerleber opened #772 "NFS Dynamic Provisioning Failed"
**What happened**: Dynamic Provisioning failed with the following error :

 failed to provision volume with StorageClass "nfs-blob-csi": rpc error: code = Internal desc = ensure storage account failed with failed to create storage account nfsde57fe7c1fe84932a8ee, error: &{false 400 0001-01-01 00:00:00 +0000 UTC {"error":{"code":"InvalidValuesForRequestParameters","message":"Values for request para

[2022-10-12 07:51] andyzhangx commented on #772
if `storageAccount` is not provided, this driver would try to create a storage account while it may break the policy in ACL setting, I think you could create storageAccount in advance, and set in storage class parameters as `storageAccount: xxx`, that should workaround.

[2022-10-12 08:15] rainerleber commented on #772
Hi @andyzhangx thanks for the reply. Yes creating a storage account an then use it will work, but i want a dynamic way so i don't have to take care of creating it.

[2022-10-12 08:22] andyzhangx commented on #772
so what's your suggested setting for `networkAcls.virtualNetworkRules`? do you have some examples? I am thinking whether we could set those rules in storage class parameters

[2022-10-12 08:32] rainerleber commented on #772
![image](https://user-images.githubusercontent.com/39616583/195291691-4350b5d0-7eb2-4ff6-bd31-00a98937986b.png)

I think the problem is something different the picture above shows a manual create SA and the key virtualNetworkRules have no values. When the csi-driver try to create the SA i think the `virtualNetworkRules` is empty as well but tries to read something from `networkAcls.virtualNetworkR

[2022-10-12 08:41] andyzhangx commented on #772
what's your `nfs-blob-csi` sc config? and are you using open source driver now?

[2022-10-12 08:42] andyzhangx commented on #772
cc @cvvz

[2022-10-13 01:43] #772 closed

[2022-10-13 01:45] andyzhangx commented on #772
thanks, this issue should be fixed in next release v1.17.0, the fix is now in master branch.

[2022-10-13 01:46] andyzhangx commented on #763
there is a https://github.com/kubernetes-sigs/blob-csi-driver/pull/775  to support this feature, pls note that only standard storage account could choose `Hot` or `Cool`, premium account can only use `Premium`

[2022-10-14 04:26] #763 closed

[2022-10-26 14:18] rainerleber opened #782 "Ability to enable soft delete for blob and containers as well as enable versioning"
Is your feature request related to a problem?/Why is this needed
We want to enable soft delete and versioning on dynamic provisioned blobs.

Describe the solution you'd like in detail
- Specifing the retention time of soft delete for blobs should enable the feature on the storage account.
If it is not specified nothing will be enabled.

- Specifing true or false on a paramter for versioning enable

[2022-11-08 19:24] MattMcL4475 opened #783 "Broken paths in index.yaml - "master" branch is used instead of release label "v1.17.0""
The `index.yaml` file references the `master` branch, instead of the labeled release branch, which results in `helm repo add` failing.  Note: it is best to use labeled release URLs to ensure the link is permanent and not broken if master is changed.  Details:

This file:
https://raw.githubusercontent.com/kubernetes-sigs/blob-csi-driver/v1.17.0/charts/index.yaml

Contains the broken URL:
https://ra

[2022-11-09 12:14] andyzhangx commented on #783
should be fixed by https://github.com/kubernetes-sigs/blob-csi-driver/commit/476b3f49fdccce5f72a3a428fdbb82861273626f, pls try again, thanks.

And usually we won't change released chart file, so it's safe to run `helm repo add blob-csi-driver https://raw.githubusercontent.com/kubernetes-sigs/blob-csi-driver/master/charts`

[2022-11-09 12:14] #783 closed

[2022-11-09 12:18] andyzhangx commented on #755
there is immutable volumeLifecycleModes config change, you could uninstall this driver and then install driver again, that should fix the issue.

[2022-11-09 12:18] #755 closed

[2022-11-28 03:17] andyzhangx opened #791 "blobfuse-proxy support core os (OpenShift)"
**Is your feature request related to a problem?/Why is this needed**

Currently blobfuse-proxy is only available on debian based agent node, it's not supported on core os (OpenShift)

https://github.com/kubernetes-sigs/blob-csi-driver/tree/master/deploy/blobfuse-proxy

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**